.absolute
    position absolute
    &--r-0
        right 0
    &--r-10
        right 10px    
    &--t-10
        top 10px
    &--t-2
        top 2px
    &--t-75
        top 75px
    &--x-15
        left 15px
        right 15px
    &--b-20
        bottom 20px
    &--r-25-p
        right 25%
    &--r-minus-10-p
        right -10%
    &--center
        top 50%
        left 50%
        transform translate(-50%, -50%)
    &--yc-center
        top 50%
        transform translateY(-50%)

    &--md
        @media all and (min-width: 768px)
            &-t-45
                top 45px
            &-r-15-p
                right 15%
    &--lg
        position static
        @media all and (min-width 992px)
            position absolute
            &-r
                &-10-p
                    right 10%
                &-13-p
                    right 13%
                &-20-p
                    right 20%
                &-25-p
                    right 25%
                &-33-p
                    right 33%
            &-yc-center
                top 50%
                transform translateY(-50%)
            &-t-10
                top 10px
            &-t-8-p
                top 8%
    &--xl
        @media all and (min-width 1200px)

            &-x-25
                left 25px
                right 25px
            &-r
                &-20-p
                    right 20%
                &-23-p
                    right 23%
                &-35-p
                    right 35%
