.border
    &--gray
        &-1
            border: 1px solid #edf0f5;
    &--b
        &-1
            &-gray-block
                border-bottom 1px solid $bg--border
            &-gray
                border-bottom 2px solid $text-color-third
        &-2
            &-gray
                border-bottom 2px solid $text-color-third
        &-4
            &-blue
                border-bottom 4px solid $text-color-fourth
            &-gray
                border-bottom 4px solid $text-color-third
    &--t
        &-1
            &-gray-block
                border-top 1px solid $bg--border
            &-gray-notif
                border-top 1px solid $bg-border-table