.display
    &--b
        display block
        &-l
            display inline-block
    &--table
        display table
    &--md
        @media all and (min-width 768px)
            &-b
                display block
