.shadow 
  &--small
    box-shadow 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    
  &--box
    box-shadow 0 3px 7px rgba(0, 0, 0, 0.1)
  &--table
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
.border
  &--t-1-grey
    border-top: 1px solid #edf0f5;
  &--b-2-grey
    border-bottom: 1px solid #edf0f5;