.fl
	display flex
	&--inline
		display inline-flex
	&--tablet
		@media all and (max-width 991px)
			display flex
	&--wrap
		flex-wrap wrap
	&--nowrap
		flex-wrap nowrap
	&--justify
		&-st
			justify-content flex-start

		&-end
			justify-content flex-end
		&-a
			justify-content space-around

		&-b
			justify-content space-between
		&-c
			justify-content center
		&-md
			@media all and (min-width 768px)
				&-st
					justify-content flex-start
				&-c
					justify-content center
				&-b
					justify-content space-between
				&-end
					justify-content flex-end
		&-lg
			@media all and (min-width 992px)
				&-st
					justify-content flex-start
				&-c
					justify-content center
				&-b
					justify-content space-between
				&-end
					justify-content flex-end
		&-xl
			@media all and (min-width 1170px)
				&-st
					justify-content flex-start
				&-c
					justify-content center
				&-b
					justify-content space-between
				&-end
					justify-content flex-end
	&--self
		&-st
			align-self flex-start

		&-end
			align-self flex-end

		&-c
			align-self center

		&-base
			align-self baseline

	&--align
		&-stretch
			align-items stretch
		&-st
			align-items flex-start
		&-end
			align-items flex-end
		&-c
			align-items center
		&-base
			align-items baseline
		&-b
			align-items space-between
		&-str
			align-items stretch
		&-md
			@media all and (min-width 768px)
				&-end
					align-items flex-end
				&-stretch
					align-items stretch
		&-lg
			@media all and (min-width 992px)
				&-end
					align-items flex-end
				&-c
					align-items center
		&-xl
			@media all and (min-width 1170px)
				&-stretch
					align-items stretch
				&-st
					align-items flex-start
				&-end
					align-items flex-end
				&-c
					align-items center
	&--dir
		&-col
			flex-direction column

		&-col-r
			flex-direction column-reverse

		&-row
			flex-direction row

		&-row-r
			flex-direction row-reverse
		&-md-row
			@media all and (min-width: 768px)
				flex-direction row
		&-md-row-r
			@media all and (min-width: 768px)
				flex-direction row-reverse
		&-lg-row
			@media all and (min-width: 992px)
				flex-direction row

	&--flow
		&-row-wrap
			flex-flow row wrap

		&-row-nowrap
			flex-flow row nowrap

		&-row-r-wrap
			flex-flow row-reverse wrap

		&-row-r-nowrap
			flex-flow row-reverse nowrap

		&-col-wrap
			flex-flow column wrap

		&-col-nowrap
			flex-flow column nowrap

		&-col-r-wrap
			flex-flow column-reverse wrap

		&-col-r-nowrap
			flex-flow column-reverse nowrap

	&--order
		for $num in (0..10)
			&-{$num}
				order $num
		for $nummd in (0..10)
			&-md
				@media only screen and (min-width: 768px)
					&-{$nummd}
						order $nummd
		for $numlg in (0..10)
			&-lg
				@media only screen and (min-width 992px)
					&-{$numlg}
						order $numlg
		for $numxl in (0..10)
			&-xl
				@media only screen and (min-width: 1170px)
					&-{$numxl}
						order $numxl
		&-negative
			&-1
				order -1
			&-2
				order -2
		// @media all and (min-width: 768px)
		// 	&-md
		// 		&-unset

.fl
	for $num in 0 1 2
		&--{$num}
			flex $num 1 auto
