@import '../default.styl'

.font 
	&--left
		text-align left

	&--right
		text-align right
	
	&--center
		text-align center

	&--just
		text-align justify

	&--top
		vertical-align top

	&--middle
		vertical-align middle

	&--bottom
		vertical-align bottom

	&--copyright
		color #b8bec7
	&--normal
		font-style normal
	&--ligth
		font-weight 300
	&--400
		font-weight 400
	&--500
		font-weight 500
	&--bold
		font-weight 600
	&--700
		font-weight 700
	&--uppercase
		text-transform uppercase
	&--capitalized
		text-transform capitalize
	&--underlined
		text-decoration underline 
	&--transform-none
		text-transform none
	&--hint
		color $text-color-second
		font-size 14px
		font-weight 100
		margin-bottom 20px
	&--6
		font-size 6px
	&--8
		font-size 8px
	&--10
		font-size 10px
	&--11
		font-size 11px
	&--12
		font-size 12px
	&--14
		font-size 14px
	&--16
		font-size 16px
	&--18
		font-size 18px
	&--20
		font-size 20px
	&--22
		font-size 22px
	&--23
		font-size 23px
	&--24
		font-size 24px
	&--30
		font-size 30px 
	&--36
		font-size 36px
	&--80
		font-size 80px
	//#3a3a3c
	&--color-primary
		color $text-color-first
	//#6e6e7d
	&--color-secondary
		color $text-color-second
	//#b8bec7
	&--color-inactive
		color $text-color-third 
	//#528be6
	&--color-blue
		color $text-color-fourth
		&-icon
			&:before
				color $text-color-fourth
	&--color-light-gray
		color $arrow-table 
	&--color-green
		color #30bb49
	&--color-white
		color #fff
	&--color-success
		color #6cd44c
	&--color-failed
		color #c21f3f
	&--color-valid-faild
		color #ca1145
	&--color-important
		color #c2143d
	&--highlight-grey
		background-color #edf0f5
	&--hint-grey
		color $text-color-fifth
	&--color-light-grey
		color $text-color-third 
	&--break-all
		word-break break-all
	&--failed_confirmation
		font-size 80px
		color #c21f3f
	&--clear-sans
		font-family "Clear Sans"
	&--roboto
		font-family "Roboto"
	&--md
		@media all and (min-width: 768px)
			&-left
				text-align left
			&-right 
				text-align right
			&-center
			    text-align center
			&-24
				text-align 24px
	&--lg
		@media all and (min-width: 992px)
			&-right 
				text-align right 
			&-12
				font-size 12px
			&-14
				font-size 14px
			
	&--xl
		@media all and (min-width: 1200px)
			&-left
				text-align left
			&-center
				text-align center
			&-right
				text-align right
			&-12
				font-size 12px
			&-14
				font-size 14px
	
			