.height
    &--100
        height 100%
    &--px
        &-10
            height 10px
        &-20
            height 20px
        &-30
            height 30px
        &-35
            height 35px
        &-40
            height 40px
        &-70
            height 70px
        &-80
            height 80px
.max-height
    &--100-p
        max-height 100%