.hide--
    &md
        @media only screen and (min-width: 768px)
            display none!important
    &lg
        @media only screen and (min-width: 992px)
            display none!important
    &xl
        @media only screen and (min-width: 1170px)
            display none!important