.hide
    display none
    &--lg
        @media all and (min-width 992px)
            display none
.show
    &--md
        @media all and (min-width 768px)
            &-block
                display block

    &--lg
        @media all and (min-width 992px)
            &-block
                display block