// Margin center
.margin
	&--0
		margin 0
	&--auto
		margin auto
		&-xc
			margin-left auto
			margin-right auto
		&-0
			margin 0 auto
		&-5
			margin 5px auto
		&-10
			margin 10px auto
		&-15
			margin 15px auto
		&-20
			margin 20px auto
		&-25
			margin 25px auto
		&-30
			margin 30px auto
		&-35
			margin 35px auto
		&-40
			margin 40px auto
		&-45
			margin 45px auto
		&-50
			margin 50px auto
		&-55
			margin 55px auto
		&-60
			margin 60px auto
		&-65
			margin 65px auto
		&-70
			margin 70px auto
		&-75
			margin 75px auto
		&-80
			margin 80px auto
		&-85
			margin 85px auto
		&-90
			margin 90px auto
		&-95
			margin 95px auto
		&-100
			margin 100px auto
		&-105
			margin 105px auto
	&-minus
		&-xc-5
			margin-left -5px
			margin-right -5px
		&-xc-15
			margin-left -15px
			margin-right -15px
	// Top Bottom margin
	&--yc
		&-0
			margin-top 0
			margin-bottom 0
		&-5
			margin-top 5px
			margin-bottom 5px
		&-20
			margin-top 20px
			margin-bottom 20px
		&-10
			margin-top 10px
			margin-bottom 10px
		&-40
			margin-top 40px
			margin-bottom 40px
	// Top Margin
	&--t
		&-0
			margin-top 0
		&-2
			margin-top 2px
		&-5
			margin-top 5px
		&-10
			margin-top 10px
		&-15
			margin-top 15px
		&-20
			margin-top 20px
		&-25
			margin-top 25px
		&-30
			margin-top 30px
		&-35
			margin-top 35px
		&-40
			margin-top 40px
		&-44
			margin-top 44px
		&-45
			margin-top 45px
		&-50
			margin-top 50px
		&-55
			margin-top 55px
		&-60
			margin-top 60px
		&-65
			margin-top 65px
		&-70
			margin-top 70px
		&-75
			margin-top 75px
		&-80
			margin-top 80px
		&-85
			margin-top 85px
		&-90
			margin-top 90px
		&-95
			margin-top 95px
		&-100
			margin-top 100px
		&-105
			margin-top 105px

		// Bottom Margin
	&--b
		&-0
			margin-bottom 0
		&-2
			margin-bottom 2px
		&-3
			margin-bottom 3px
		&-5
			margin-bottom 5px
		&-6
			margin-bottom 6px
		&-10
			margin-bottom 10px
		&-15
			margin-bottom 15px
		&-20
			margin-bottom 20px
		&-25
			margin-bottom 25px
		&-27
			margin-bottom 27px
		&-30
			margin-bottom 30px
		&-32
			margin-bottom 32px
		&-35
			margin-bottom 35px
		&-40
			margin-bottom 40px
		&-45
			margin-bottom 45px
		&-50
			margin-bottom 50px
		&-55
			margin-bottom 55px
		&-60
			margin-bottom 60px
		&-65
			margin-bottom 65px
		&-70
			margin-bottom 70px
		&-75
			margin-bottom 75px
		&-80
			margin-bottom 80px
		&-85
			margin-bottom 85px
		&-90
			margin-bottom 90px
		&-95
			margin-bottom 95px
		&-100
			margin-bottom 100px
		&-105
			margin-bottom 105px
		&-minus
			&-10
				margin-bottom -10px
			&-35
				margin-bottom -35px

		//right margins
	&--r
		&-auto
			margin-right auto
		&-0
			margin-right 0
		&-5
			margin-right 5px
		&-8
			margin-right 8px
		&-10
			margin-right 10px
		&-15
			margin-right 15px
		&-20
			margin-right 20px
		&-25
			margin-right 25px
		&-30
			margin-right 30px
		&-35
			margin-right 35px
		&-40
			margin-right 40px
		&-45
			margin-right 45px
		&-50
			margin-right 50px
		&-55
			margin-right 55px
		&-60
			margin-right 60px
		&-65
			margin-right 65px
		&-70
			margin-right 70px
		&-75
			margin-right 75px
		&-80
			margin-right 80px
		&-85
			margin-right 85px
		&-90
			margin-right 90px
		&-95
			margin-right 95px
		&-100
			margin-right 100px
		&-17-p
			margin-right 17%
		&-20-p
			margin-right 20%
		&-25-p
			margin-right 25%


			//left margins
	&--l
		&-auto
			margin-left auto
		&-0
			margin-left 0
		&-2
			margin-left 2px
		&-5
			margin-left 5px
		&-10
			margin-left 10px
		&-15
			margin-left 15px
		&-20
			margin-left 20px
		&-25
			margin-left 25px
		&-30
			margin-left 30px

	&--xc
		&-0
			margin-left 0
			margin-right 0
		&-10
			margin-left 10px
			margin-right 10px
		&-60
			margin-left 60px
			margin-right 60px
		//Left-auto margin
		&-l
			margin-left auto

		//Right-auto margin
		&-r
			margin-right auto

	&__x--negative
		&-30
			margin 0 -30px
	&--xs
		@media all and (max-width 767.9px)
			&-m
				&-l
					&-15
						margin-left 15px	
	&--md
	//Responsives

	&--sm
		@media all and (min-width 540px)
			&-t
				&-0
					margin-top 0			
			&-l
				&-10
					margin-left 10px
			&-b-0
				margin-bottom 0px
			&-b-15
				margin-bottom 15px
			&-r-30
				margin-right 30px
	&--md
		@media all and (min-width 768px)
			&-0
				margin 0
			&-auto-l
				margin-left auto
			&-minus
				&-xc
					&-15
						margin-left -15px
						margin-right -15px
					&-30
						margin-left -30px
						margin-right -30px
			&-r
				&-17-p
					margin-right 17%
				&-20-p
					margin-right 20%
				&-25-p
					margin-right 25%
				&-10
					margin-right 10px
				&-15
					margin-right 15px
				&-20
					margin-right 20px
				&-55
					margin-right 55px
				&-305
					margin-right: 305px
			&-l
				&-10
					margin-left 10px
				&-30
					margin-left 30px
			&-t
				&-0
					margin-top 0
				&-10
					margin-top 10px
				&-55
					margin-top 55px
				&-75
					margin-top 75px
			&-b
				&-0
					margin-bottom 0
				&-5
					margin-bottom 5px
				&-30
					margin-bottom 30px
				&-35
					margin-bottom 35px
				&-40
					margin-bottom 40px
			&-20-p
				margin-right 20%
	&--autopublic/js/modules/profile/common/components/editable/location.jsx
		&-md
			@media all and (min-width 768px)
				&-l
					margin-left auto
	&--lg
		@media all and (min-width 992px)
			&-0
				margin 0
			&-l-auto
				margin-left auto
			&-l-0
				margin-left 0
			&-l-4
				margin-left 4px
			&-l-10
				margin-left 10px
			&-l-15
				margin-left 15px
			&-l-25
				margin-left 25px
			&-l-40
				margin-left 40px
			&-r-0
				margin-right 0
			&-r-10
				margin-right 10px
			&-r-35
				margin-right 35px
			&-r-30
				margin-right 30px
			&-r-40
				margin-right 40px
			&-r-33.5-p
				margin-right 33.5%
			&-t-0
				margin-top 0
			&-b-0
				margin-bottom 0px
			&-b-5
				margin-bottom 5px
			&-b-10
				margin-bottom 10px

			&-minus-xc-15
				margin-left -15px
				margin-right -15px
	&--xl
		@media all and (min-width 1200px)
			&-0
				margin 0
			&-l-0
				margin-left 0
			&-t-0
				margin-top 0
			&-r-0
				margin-right 0
			&-l-10
				margin-left 10px
			&-l-60
				margin-left 60px
			&-r-10
				margin-right 10px
			&-r-35
				margin-right 35px
			&-r-40
				margin-right 40px
			&-r-50
				margin-right 50px
			&-b-0
				margin-bottom 0
	&--auto
		&-xl
			@media all and (min-width 1200px)
				&-l
					margin-left auto
				&--auto-xc
					margin-left auto
					margin-right auto
.margin
	for $side in top left bottom right
		&--md
			@media all and (min-width 768px)
				&-{$side}-0
					margin-{$side} 0
		&--sm
			@media all and (min-width 576px)
				&-{$side}-0
					margin-{$side} 0
