// Top Padding
.padding
	&--t
		&-0
			padding-top 0
		&-5
			padding-top 5px
		&-10
			padding-top 10px
		&-15
			padding-top 15px
		&-17
			padding-top 17px
		&-20
			padding-top 20px
		&-25
			padding-top 25px
		&-28
			padding-top 28px
		&-30
			padding-top 30px
		&-35
			padding-top 35px
		&-40
			padding-top 40px
		&-45
			padding-top 45px
		&-50
			padding-top 50px
		&-55
			padding-top 55px
		&-60
			padding-top 60px
		&-65
			padding-top 65px
		&-70
			padding-top 70px
		&-75
			padding-top 75px
		&-80
			padding-top 80px

		// Bottom Padding
	&--b
		&-0
			padding-bottom 0
		&-5
			padding-bottom 5px
		&-7
			padding-bottom 7px
		&-10
			padding-bottom 10px
		&-15
			padding-bottom 15px
		&-20
			padding-bottom 20px
		&-25
			padding-bottom 25px
		&-30
			padding-bottom 30px
		&-35
			padding-bottom 35px
		&-40
			padding-bottom 40px
		&-45
			padding-bottom 45px
		&-50
			padding-bottom 50px
		&-55
			padding-bottom 55px
		&-60
			padding-bottom 60px
		&-65
			padding-bottom 65px
		&-70
			padding-bottom 70px
		&-75
			padding-bottom 75px

	&--y
		&-10
			padding-top 10px
			padding-bottom 10px

	&--x
		&-20
			padding-left 20px
			padding-right 20px
		// Padding Y centered
	&--yc
		&-5
			padding-top 5px
			padding-bottom 5px
		&-7
			padding-top 7px
			padding-bottom 7px
		&-8
			padding-top 8px
			padding-bottom 8px
		&-10
			padding-top 10px
			padding-bottom 10px
		&-12
			padding-top 12px
			padding-bottom 12px
		&-15
			padding-top 15px
			padding-bottom 15px
		&-20
			padding-top 20px
			padding-bottom 20px
		&-25
			padding-top 25px
			padding-bottom 25px
		&-30
			padding-top 30px
			padding-bottom 30px
		&-35
			padding-top 35px
			padding-bottom 35px
		&-40
			padding-top 40px
			padding-bottom 40px
		&-45
			padding-top 45px
			padding-bottom 45px
		&-50
			padding-top 50px
			padding-bottom 50px
		&-55
			padding-top 55px
			padding-bottom 55px
		&-60
			padding-top 60px
			padding-bottom 60px
		&-65
			padding-top 65px
			padding-bottom 65px
		&-70
			padding-top 70px
			padding-bottom 70px
		&-75
			padding-top 75px
			padding-bottom 75px

		// Padding X centered
	&--xc
		&-0
			padding-left 0
			padding-right 0
		&-5
			padding-left 5px
			padding-right 5px
		&-10
			padding-left 10px
			padding-right 10px
		&-15
			padding-left 15px
			padding-right 15px
		&-20
			padding-left 20px
			padding-right 20px
		&-25
			padding-left 25px
			padding-right 25px
		&-30
			padding-left 30px
			padding-right 30px
		&-35
			padding-left 35px
			padding-right 35px
		&-40
			padding-left 40px
			padding-right 40px
		&-45
			padding-left 45px
			padding-right 45px
		&-50
			padding-left 50px
			padding-right 50px
		&-55
			padding-left 55px
			padding-right 55px
		&-60
			padding-left 60px
			padding-right 60px
		&-65
			padding-left 65px
			padding-right 65px
		&-70
			padding-left 70px
			padding-right 70px
		&-75
			padding-left 75px
			padding-right 75px
		//padding common
	&--0
		padding 0
	&--5
		padding 5px
	&--10
		padding 10px
	&--15
		padding 15px
	&--20
		padding 20px
	&--30
		padding 30px
	&--50
		padding 50px

	//right
	&--r
		&-0
			padding-right 0
		&-5
			padding-right 5px
		&-10
			padding-right 10px
		&-20
			padding-right 20px
		&-25
			padding-right 25px

	//left
	&--l
		&-0
			padding-left 0
		&-5
			padding-left 5px
		&-15
			padding-left 15px
		&-20
			padding-left 20px
		&-25
			padding-left 25px
		&-30
			padding-left 30px
		&-60
			padding-left 60px
		&-120
			padding-left 120px
	&--sm
		@media all and (min-width 576px)
			&-xc-0
				padding-left 0
				padding-right 0
			&-t-15
				padding-top 15px
	&--md
		@media all and (min-width: 768px)
			&-0 {
				padding: 0
			}
			&-30 {
				padding: 30px
			}
			&-xc-0
				padding-left 0
				padding-right 0
			&-xc-15
				padding-left 15px
				padding-right 15px
			&-xc-30
				padding-left 30px
				padding-right 30px
			&-xc-45
				padding-left 45px
				padding-right 45px
			&-yc-30
				padding-top 30px
				padding-bottom 30px
			&-t
				&-0
					padding-top 0px
				&-20
					padding-top 20px
				&-30
					padding-top 30px
				&-50
					padding-top 50px
			&-b-0
				padding-bottom 0
			&-r
				&-0
					padding-right 0px
				&-15
					padding-right 15px
				&-30
					padding-right 30px
				&-50
					padding-right 50px
			&-l
				&-0
					padding-left 0px
				&-10
					padding-left 10px
				&-15
					padding-left 15px
				&-30
					padding-left 30px
				&-60
					padding-left 60px
	&--lg
		@media all and (min-width: 992px)
			&-0
				padding 0
			&-30
				padding 30px
			&-xc-15
				padding-left 15px
				padding-right 15px
			&-t
				&-10
					padding-top 10px
			&-l
				&-0
					padding-left 0
				&-15
					padding-left 15px
			&-r-0
				padding-right 0

			&-b-20
				padding-bottom 20px

	&--xl
		@media all and (min-width: 1200px)
			&-0
				padding 0
			&-30
				padding 30px
			&-xc	
				&-15
					padding-left 15px
					padding-right 15px
			&-xc	
				&-30
					padding-left 30px
					padding-right 30px
			&-yc
				&-25
					padding-top 25px
					padding-bottom 25px
			&-t-10
				padding-top 10px
			&-l
				&-0
					padding-left 0
				&-10
					padding-left 10px
				&-15
					padding-left 15px
				&-30
					padding-left 30px
			&-r
				&-15
					padding-right 15px
				&-23
					padding-right 23px

	&--lg
		@media all and (max-width: 992px)
			&-l-m-0
				padding-left 0
			&-l-m-15
				padding-left 15px
			&-l-m-30
				padding 30px
