@media print 
    .print 
        &_disable
            display none
        &__text
            &_nowrap
                white-space nowrap
        &_breakeAfter
            page-break-after always
        &_breakeBefore
            page-break-before always
        &_breakeInside
            pagege-break-inside avoid
