.show
    &--none
        display none
    &--block
        display block
    &--flex
        display flex
    &--lg-r-fl
        display flex
        @media all and (min-width 992px)
            display none
    &--md
        display none
        @media all and (min-width 768px)
            display block
        &-fl
            display none
            @media all and (min-width 768px)
                display flex
    &--lg
        display none
        @media all and (min-width 992px)
            display block