.width
    &--80-px
        width 80px
    &--90-px
        width 90px
    &--px
        &-8
            width 8px
        &-14
            width 14px
        &-20
            width 20px
        &-90
            width 90px
        &-100
            width 100px
        &-160
            width 160px
        &-170
            width 170px
        &-200
            width 200px
        &-220
            width 220px
    &--8
        width 8%
    &--10
        width 10%
    &--12
        width 12%
    &--15
        width 15%
    &--17-5
        width 17.5%
    &--20
        width 20%
    &--25
        width 25%
    &--30
        width 30%
        min-width 30%
    &--35
        width 35%
        min-width 35%
    &--33
        width 33%
    &--40
        width 40%
        min-width 40%
    &--50
        width 50%
    &--60
        width 60%
        min-width 60%
    &--65
        width 65%
        min-width 65%
    &--70
        width 70%
        min-width 70%
    &--75
        width 75%
    &--100
        width 100%
    &--sm
        @media all and (min-width 540px)
            &-px
                &-160
                    width 160px
    &--md
        @media all and (min-width 768px)
            &-auto
                width auto
            &-15
                width 15%
            &-25
                width 25%
            &-40
                width 40%
            &-50
                width 50%
            &-60
                width 60%
            &-70
                width 70%
            &-75
                width 75%
            &-85
                width 85%
            &-100
                width 100%
            &-160
                width 160px
.min-width
    &--50-px
        min-width 50px
    &--20-px
        min-width 20px
    &--33-p
        min-width 33.333333%
    &--100-p
        min-width 100%
    &--180-px
        min-width 180px
    &--250-px
        min-width 250px
.max-width
    &--80
        max-width 80px
    &--100
        max-width 100px
    &--300
        max-width 300px
    &--100-p
        max-width 100%
    &--md
        @media all and (min-width 768px)
            &-210
                max-width 210px 
    &--xl
        @media all and (min-width 1200px)
            &-256
                max-width 256px
    &--130-px
        max-width 130px
    &--145-px
        max-width 145px
        