.add-notice 
    &:after
        margin-left 10px
        font-size 12px
        color $text-color-second
    &--main
        &:after
            content '(Основной)'
    &--for-notifications
        &:after
            content '(Для уведомлений)'