.anchor
    position fixed
    z-index 999
    display flex
    justify-content center
    align-items center
    width 50px
    height 50px
    bottom 50px
    right 5%
    background #fff
    border none
    border-radius 50%
    box-shadow 0 3px 7px rgba(0, 0, 0, 0.1)
    cursor pointer
    &:hover
        border 2px solid $bg--btn-primary
    @media all and (min-width: 768px)
        right 2%