.avatar
    position relative
    flex-shrink 0
    border 1px solid #fff
    border-radius 12px
    &--sidebar-admin
        background-color $bg--border
    &--sidebar
        display none
        width 130px
        height 120px
        background-color $bg--border
        top -50px
        @media all and (min-width 992px)
            display block
        @media all and (min-width 1200px)
            width 160px
            height 120px
    &--recruter
        width 150px
        height 140px
        background-color $bg--border
        display block
    &--square
        width 160px
        height 160px
        overflow hidden
        
        @media all and (min-width 768px)
            width 150px
            height 150px
        
        @media all and (min-width 992px)
            width 130px
            height 130px
    &--admin
        width 160px
        height 120px
        border-color #000
    &__default
        max-width 100%
        max-height 100%
        font-size 30px
        color #fff
        .icon
            font-size 60px
            color #fff
    &__img-wrap
        overflow hidden
        max-width 158px
        height 118px
        border-radius 12px
        display flex
        align-items center
        justify-content center
    &__controls
        position absolute
        bottom 0
        left 0
        right 0
        background rgba(0, 0, 0, .4)
        display flex
        align-items center
        opacity 0
        transition opacity .35s ease-out
        border-radius  0 0 12px 12px
    &__new
        display flex
        justify-content center
        width 100%
    &__edit
        display flex
        justify-content flex-end
        width 100%
    &:hover
        .avatar__controls
            opacity 1
    &--static
        max-height 120px
        max-width 160px
        height 120px
        width 160px
        display flex
        align-items center
        justify-content center
        background-color #cdd1d7
    &__tooltip
        position relative
        width 100%
        height 100%
        overflow hidden
        &:hover
            overflow visible
        &:hover&:before, &:hover&:after
            opacity 1
        &:before,&:after
            transition opacity 0.5s;
        &:before
            opacity 0
            content attr(data-title)
            position absolute
            background-color #727273
            border-radius 5px
            box-shadow 0 3px 7px rgba(0, 0, 0, 0.1)
            color #fff
            font-size 14px
            width 200px
            padding 10px 15px
            left 24px
            top -14px
            white-space pre-wrap
        &:after
            opacity 0
            content ''
            width: 0
            height: 0
            border-bottom: 7.5px solid transparent
            border-top: 7.5px solid transparent
            border-right: 10px solid #727273
            position absolute
            top -1px
            left 14px;
            