.bonus-static
    display inline-block
    border-radius 50%
    color #fff
    background-color #528be6
    width 50px
    height 50px
    position relative
    &::after
        position absolute
        top 50%
        left 50%
        transform translate(-50%,-50%)
        font-family 'ad_work_icons' !important
        font-size 25px
        transition color .3s ease
    &--calendar
        &::after
            content '\e933'
    &--corporate-events
        &::after
            content '\e92e'
    &--courses
        &::after
            content '\e92d'
    &--rest-zone
        &::after
            content '\e926'
    &--insurance
        &::after
            content '\e92b'
    &--sport
        &::after
            content '\e925'
    &--presents
        &::after
            content '\e928'
    &--bonus
        &::after
            content '\e934'
    &--certification
        &::after
            content '\e932'
    &--relocation
        &::after
            content '\e927'
    &--food
        &::after
            content '\e92c'
    &:before
        content ''
        display block
        opacity 0
        transition opacity .3s ease .3s
        position absolute
    &:hover
        &:before
            content attr(data-title)
            padding: 10px 15px
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1)
            background-color: #727273
            left 50%
            transform translate(-50%,1px)
            line-height: 1
            width: auto
            text-align center
            white-space: nowrap
            top: 105%
            z-index 2
            font-size 12px
            font-weight 700
            border-radius: 5px
            color #fff
            opacity 1