.box
  &--login
    max-width 410px
    padding 30px 15px
    margin 25px auto 30px
    @media all and (min-width 768px)
      padding 50px 30px
  &--rounded
    border-radius 5px

  &--white
    background-color #fff
  
  &--light-grey
    background-color #f6f7fa
  &--light-grey
    background-color #f6f7fa
  &--grey
    background-color $bg--body
  &--img-thumbnail
    display flex
    align-items center
    width 36px
    height 36px
    overflow hidden
    border-radius 100%
    background-color #ac9090
    flex-shrink 0