.breadcrumbs
    display flex
    flex-wrap wrap
    padding 0
    margin-top 0
    &__item
        list-style none
        &:last-child
            &:after
                content ''
                padding 0
        &:after
            content '/'
            color $text-color-first
            padding 0 3px