.btn
    font-family 'Clear Sans'
    display inline-block
    font-weight 500
    color #fff
    text-align center
    white-space nowrap
    vertical-align middle
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    border 1px solid transparent
    line-height 1.3
    transition color .15s ease-in-out,background-color .15s ease-in-out,bg--border .15s ease-in-out,box-shadow .15s ease-in-out
    cursor pointer
    &--b
        display block
    .icon
        margin-right 10px
    &--primary
        background $bg--btn-primary
        color #fff
    &--primary-outline
        color $bg--btn-primary
        border 1px solid $bg--btn-primary
        background #fff

    &--grey
        background-color #7a7a7a
    &--white
        background-color #fff
        color $text-color-first
    &--mobile
        width 100%
        @media all and (min-width 768px)
            display none
    &--hired
        width 190px
        &-white
            color $text-color-fourth
    &--line-height-1-7
        line-height 1.7
    &--theme-blue
        background-color $text-color-fourth
    &--theme-light-blue
        background-color #CBDCF7
        border 1px solid #528be6
        color #528be6
    &--theme-white
        background-color #fff
        border 1px solid #528be6
        color #528be6
    &--disabled
        background-color #CBDCF7
    &--delete
        display inline-flex
        align-items center
        &:after
            margin-left 10px
            font-size 10px
            display inline-block
            width 18px
            height 18px
            text-align center
            line-height 18px
            content icon--cross
            font-family 'ad_work_icons' !important
            speak none
            font-style normal
            font-weight normal
            font-variant normal
            text-transform none
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            position relative
        &:hover:after
            border-radius 100%
            background #6e6e7d
            color #cdd1d7
    &--file
        display table
        background-color transparent
        border 1px solid #528be6
        min-width 120px
        min-height 20px
        color #528be6
        font-size 10px
        text-align center
        text-transform uppercase
        cursor pointer
        font-weight 700
        line-height 1