.card
    background-color #fff
    border-radius 5px
    margin 20px 0
    position relative
    box-shadow 0 3px 7px rgba(0, 0, 0, 0.1)
    &__head
        padding 15px
        border-bottom 1px solid $bg--border
        .link
            font-size 14px
            display flex
            align-items center
        @media all and (min-width: 768px)
            padding 15px 30px
    &--transparent
        background-color transparent
        .card__head
            border-color transparent
            box-shadow none
            padding-top 0
            padding-left 0
            padding-right 0
            padding-bottom 15px
            @media all and (min-width 992px)
                padding 15px