.checkbox
	&__inner-wrapper
		position relative
		cursor pointer
		align-self flex-start
		&--bonus
			&:before
				content ''
				display block
				opacity 0
				transition opacity .3s ease .3s
				position absolute
			&:hover
				&:before
					content attr(data-title)
					padding: 10px 15px
					box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1)
					background-color: #727273
					left 50%
					transform translate(-50%,1px)
					line-height: 1
					width: auto
					text-align center
					white-space: nowrap
					top: 105%
					z-index 2
					font-size 12px
					font-weight 700
					border-radius: 5px
					color #fff
					opacity 1
				@media all and (min-width: 992px)
					.checkbox__checkmark--bonus
						background-color: #528be6
						&::after
							color: #fff
		&:hover
			.checkbox__checkmark
				border 1px solid #528be6
		&.checked
			.checkbox__checkmark
				border-color #528be6
				background #528be6
				&::after
					display block
			.checkbox__checkmark--bonus
				color #fff
				background-color: #528be6
				&::after
					color: #fff
		.checkbox__input 
			-webkit-appearance none
			-moz-appearance none 
			appearance none
			opacity 0
			width 15px
			height 15px
			padding 0
			margin 0 5px 0 0
			box-sizing border-box
			outline none
			&--bonus
				width 50px
				height 50px
				padding 0 
				margin 0
				opacity 0
				outline: none
			&--margin-r-10
				margin-right 10px
			&--margin-r-20
				margin-right 20px
			&--margin-r-30
				margin-right 30px
		.checkbox__checkmark
			position absolute
			top 2px
			left 0
			width 15px
			height 15px
			background #fff
			box-sizing border-box
			border 1px solid #b8bec7
			&::after
				display none
				position absolute
				top 2px
				left 1.5px
				content "\e91b"
				font-family 'ad_work_icons' !important
				font-size 9px
				color #fff
			&--bonus
				position absolute
				left 0
				width 50px
				height 50px
				background #fff
				box-sizing border-box
				background-color #edf0f5
				border-radius 50px
				transition background-color .3s ease
				&::after
					position absolute
					top 50%
					left 50%
					transform translate(-50%,-50%)
					font-family 'ad_work_icons' !important
					font-size 25px
					color #000
					transition color .3s ease
				&-calendar
					&::after
						content '\e933'
				&-corporate-events
					&::after
						content '\e92e'
				&-courses
					&::after
						content '\e92d'
				&-rest-zone
					&::after
						content '\e926'
				&-insurance
					&::after
						content '\e92b'
				&-sport
					&::after
						content '\e925'
				&-presents
					&::after
						content '\e928'
				&-bonus
					&::after
						content '\e934'
				&-certification
					&::after
						content '\e932'
				&-relocation
					&::after
						content '\e927'
				&-food
					&::after
						content '\e92c'