.color-border-box
    display flex
    flex-direction column
    align-items flex-end
    &__value
        word-break break-word
        text-align right 
        display flex
        align-items center
        min-height 50px
        width 100%
        padding: 0 10px
        background-color #f6f7f8
        border-left 4px solid $bg--btn-primary
        border-radius 3px
        font-size 18px
        font-weight bold
        &_disabled
            border-left-color $bg--border
            color $text-color-second
    @media all and (min-width: 1200px)
        &__value
            font-size 22px
    &__bottom-label
        padding-right 15px
        font-size 12px
        color $text-color-second