.combobox     
    .rw-combobox
        position relative
    .rw-btn-select
        cursor pointer
        height 100%
        &:hover .rw-i
            color #000
    .rw-i
        color #b8bec7
        font-size 8px
        display block
        &:before
            display block
            content "\e920"
            font-family 'ad_work_icons' !important
            font-style normal
            font-weight normal
            font-variant normal
            text-transform none
            line-height 1
            transition transform .25s ease-out
    .rw-select
        cursor pointer    
    .rw-open
        .rw-i-caret-down
            &:before
                transform rotateX(180deg)
        .rw-popup-container
            left -1px
            display block
            position absolute
            background #fff
            z-index 1000
            width calc(100% + 2px)
            border-left 1px solid $text-color-fourth
            border-bottom 1px solid $text-color-fourth
            border-right 1px solid $text-color-fourth
            max-height 200px
            overflow-y auto
    .rw-widget-container
        height 40px
    .rw-select
        display flex
        flex-direction column
        justify-content space-around
        height 100%
        right 0
        position absolute
    .rw-widget-container
        display flex
        position relative
    .rw-state-focus.rw-combobox
        border 1px solid $text-color-fourth
    .rw-combobox
        border 1px solid $bg--border
    .rw-input
        font-family "Clear Sans"
        border none
        outline none
        color $text-color-first
        font-size 14px
        padding-left 15px
        padding-right 25px
        width 100%
        outline none
        -webkit-appearance none
        -moz-appearance none 
        appearance none
        @media screen and (device-aspect-ratio: 2/3)
            font-size: 16px 
        /* iPhone 5, 5C, 5S, iPod Touch 5g */
        @media screen and (device-aspect-ratio: 40/71) 
           font-size: 16px 
        /* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
        @media screen and (device-aspect-ratio: 375/667) 
            font-size: 16px
        /* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
        @media screen and (device-aspect-ratio: 9/16) 
            font-size: 16px

    .rw-list-option
        font-size 14px
        color $text-color-first
        font-family "Clear Sans"
    .rw-btn
        background-color #fff
        border none
        padding 0 5px
    .rw-popup-container
        display none
    .rw-list
        list-style-type none
        .rw-list-option
            padding 10px 15px
            cursor pointer
            &:hover
                background-color #f4f6f9
        .rw-list-empty
            padding 10px 15px
    .combobox__wrap-input
        background-color #fff
    &--no-valid
        .rw-state-focus.rw-combobox, .rw-combobox
            border none
        .combobox__wrap-input
            border 1px solid #ca1145
.text-combobox
    display inline-block
    width auto
    max-width 130px
    .rw-combobox
        position relative
    .rw-select
        position absolute
        display block
        height 100%
        width 100%
        cursor pointer
    .rw-btn-select
        display block
        height 100%
        width 100%
        -webkit-appearance none
        border none
        background transparent
        cursor pointer
    .rw-i
        display none
    .rw-open
        .rw-i-caret-down
           display none
        .rw-popup-container
            left -1px
            display block
            position absolute
            background #fff 
            z-index 1000
            width auto
            border 1px solid $bg--btn-primary
    .rw-select
        display flex
        flex-direction column
        justify-content space-around
    .rw-widget-container
        display flex
    .rw-state-focus.rw-combobox
    
    .rw-combobox
        
    .rw-input
        font-family "Clear Sans"
        font-size 20px
        font-weight bold
        color $text-color-fourth
        text-decoration underline
        outline none
        width auto
        background transparent
        border none
        background-image none
        -webkit-box-shadow none
        -moz-box-shadow none
        box-shadow none
        -webkit-appearance none 
        margin 0
        cursor pointer
    
    .rw-list-option
        font-size 14px
        color $text-color-first
        font-family "Clear Sans"
    .rw-popup-container
        display none
    .rw-list
        list-style-type none 
        .rw-list-option
            padding 10px 15px
            cursor pointer
            &:hover
                background-color #f4f6f9
        .rw-list-empty
            padding 10px 15px
    &--center-mobile
        @media all and (max-width 767px)
            .rw-input
                text-align center
            .rw-open
                .rw-popup-container
                    left 50%
                    top calc(100% + 2px)
                    transform translateX(-50%)
    &__small
        width 40px
        .rw-input
            font-size 14px
            font-weight 500
    &--font-18
        .rw-input
            font-size 18px
            font-weight 500
            padding: 0
            height: 18px
    &__filter-table-recrut
        width 120px
        .rw-input
            font-size 14px
            color $text-color-fourth


.combobox-filter
    display inline-block
    width auto
    .rw-combobox
        position relative
    .rw-select
        position absolute
        display block
        height 100%
        width 100%
        cursor pointer
    .rw-btn-select
        display block
        height 100%
        width 100%
        -webkit-appearance none
        border none
        background transparent
        cursor pointer
    .rw-i
        display none
    .rw-open
        .rw-i-caret-down
           display none
        .rw-popup-container
            left -1px
            display block
            position absolute
            background #fff 
            z-index 1000
            width auto
            border 1px solid $bg--border
    .rw-select
        display flex
        flex-direction column
        justify-content space-around
    .rw-widget-container
        display flex
    .rw-input
        font-family "Clear Sans"
        font-size 12px
        color $text-color-first
        outline none
        width auto
        background transparent
        border none
        background-image none
        -webkit-box-shadow none
        -moz-box-shadow none
        box-shadow none
        -webkit-appearance none 
        margin 0
        cursor pointer
    .rw-list-option
        font-size 12px
        color $text-color-first
        font-family "Clear Sans"
    .rw-popup-container
        display none
    .rw-list
        list-style-type none
        .rw-list-option
            padding 10px 15px
            cursor pointer
            &:hover
                background-color #f4f6f9
    &__small
        width 40px
            .rw-input
                font-size 12px
                font-weight 500