.comboboxComponent
    display inline-block
    position relative
    &__name
        -moz-user-select none
        -khtml-user-select none
        user-select none 
        color #528be6
        text-decoration underline
        &-size
            &-20
                font-weight 700
                font-size 20px
            &-14
                font-weight 500
                font-size 14px
    &__list
        list-style-type none
        display none
        position absolute
        background #fff 
        z-index 1000
        width auto
        border 1px solid $bg--btn-primary
        &--sm-left
            transform translateX(-100%)
            left 100%
            @media all and (min-width 768px)
                transform translateX(0)       
                left 5px   
        &-item
            font-weight 500
            padding 10px 15px
            cursor pointer
            font-size 14px
            color #3a3a3c
            font-family Clear Sans
            &:hover
                background-color #f4f6f9
        &--expanded
            display block
            max-width 320px