.commonSearch
    display flex
    align-items center
    padding 5px
    border 1px solid $bg--border
    border-radius 2px
    &__input
        display block
        width 90%
        border none
        outline none
    &__icon
        width 10%
        display block