.cv-card
    display flex
    flex-direction column
    margin-bottom 40px
    &__icon
        display flex
        justify-content center
        margin-bottom 5px
        &_inner
            font-size: 30px;
            color $text-color-fourth
    &__title
        display flex
        align-items center
        margin-bottom 35px
        font-size 16px
        font-weight bold
        text-transform uppercase
        word-break normal
    &__title-line
        display block
        height 1px
        width 100%
        background-color $bg--btn-primary
    &__title-text
        display flex
        flex-direction column
        align-items center
        justify-content center
        margin 0 20px
        text-align center
        white-space wrap
        @media all and (min-width 768px)
            white-space nowrap
    &__content
        display flex
        flex-direction column