.cv-dot
    position relative
    display block
    height 11px
    width 11px
    background #d1e0f8
    border-radius 50%
    &:after
        position absolute
        display block
        content ""
        height 7px
        width 7px
        top 2px
        left 2px
        background-color $bg--btn-primary
        border-radius 50%