.cv-header
    display flex
    flex-direction column
    width 100%
    overflow hidden
    &__rating
        display flex
        align-items center
        justify-content center
        height 50px
        width 100%
        &_first
            background linear-gradient(-90deg, #7ef75a, #5fc69a  )
    &__content
        display flex
        flex-direction column-reverse
        width 100%
        padding 20px 15px
    &__text
        display flex
        flex-direction column
    &__text-item
        display flex
        flex-direction column
        &_main
            text-align center
            margin-bottom 15px
    &__item-col
        margin-bottom 15px
    &__logo
        display flex
        justify-content center
        align-items center
        margin-bottom 10px
        padding-top 15px
        padding-bottom 15px
    &__logo-img
        display block
        width 116px
    @media all and (min-width 768px)
        flex-direction row
        justify-content scretch
        &__rating
            height auto
            width 50px
            min-width 50px;
            &_first
                background linear-gradient(135deg, #7ef75a, #5fc69a  )
        &__content
            flex-direction row
            justify-content space-between
            padding-left 60px
        &__text
            flex-direction column
        &__text-item
            flex-direction row
            &_main
                flex-direction column
                text-align left 
        &__item-col
            display flex
            flex-direction column
            margin-bottom 0
            &:first-child
                margin-right 50px
        &__logo-img
            display block
            width 116px
    @media all and (min-width 992px)
        &__text
            flex-direction row
            align-items center
            justify-content space-between
            width 100%
            padding-right 100px
        &__text-item
            flex-direction row
            &_main
                flex-direction column
                text-align left
                margin-bottom 0
        &__logo
            padding-top 10px
            padding-bottom 10px