.cv-line
    position relative
    padding-top 5px
    &::after
        position absolute
        display block
        content ""
        width 1px
        height 100%
        background-color $bg--btn-primary
        top 10px
        left 5px
    &_last
        &::after
            height 0