.cv-progress-line
    position relative
    display block
    height 10px
    width 100%
    background linear-gradient(90deg, #528be6, #4dd49e  )
    border-radius 4px
    overflow hidden
    &__overlay
        position absolute
        top 0
        right 0
        height 10px
        width 0
        background-color #eceff4
        border-top-right-radius 4px
        border-bottom-right-radius 4px