.cv-tabs
    display flex
    width 100%
    background-color #fff
    border-bottom 1px solid #eee
    &__tab
        display block
        padding 10px 30px
        text-transform uppercase
        font-size 16px
        color $text-color-second
        border-bottom 3px solid transparent
        border-top-left-radius 3px
        border-top-right-radius 3px
        cursor pointer
        &:hover,
        &_selected
            color $text-color-fourth
            border-bottom 3px solid $bg--btn-primary
            box-shadow 0px 2px 3px rgba(0, 0, 0, 0.1)