.data-toggle
    overflow hidden
    transition all .25s ease-out
    &--40
        max-height 40px
    &--75
        max-height 75px
    &--opened
        max-height 100%
        & ~ .toggler--open
            display none
        & ~ .toggler--close
            display inline-block

.toggler
    &--open
        display block
    &--close
        display none
    &--wide
        position absolute
        left 0
        right 0
        bottom 0
        height 25px
