.desc
    white-space nowrap
    &:after
        content '\e91e'
        display inline-block
        font-size 5px
        color $text-color-fourth
        vertical-align middle
        margin-left 2px
        font-family 'ad_work_icons' !important
        speak none
        font-style normal
        font-weight normal
        font-variant normal
        text-transform none
        line-height 1
        transition all .25s ease-out
        transform rotate(180deg)
