.dropdownList
    .rw-combobox
        position relative
        outline none
    .rw-btn-select
        cursor pointer
        height 100%
        &:hover .rw-i
            color #000
    .rw-i
        color #b8bec7
        font-size 8px
        display block
        &:before
            display block
            content "\e920"
            font-family 'ad_work_icons' !important
            font-style normal
            font-weight normal
            font-variant normal
            text-transform none
            line-height 1
            transition transform .25s ease-out
    .rw-select
        cursor pointer    
    .rw-open
        .rw-i-caret-down
            &:before
                transform rotateX(180deg)
        .rw-popup-container
            left -1px
            display block
            position absolute
            background #fff
            z-index 1000
            width calc(100% + 2px)
            border-left 1px solid #528be6
            border-bottom 1px solid #528be6
            border-right 1px solid #528be6
            max-height 200px 
            overflow-y auto
    .rw-widget-container
        height 40px
    .rw-select
        display flex
        flex-direction column
        justify-content space-around
    .rw-widget-container
        display flex
    .rw-state-focus.rw-combobox
        border 1px solid #528be6
    .rw-combobox
        border 1px solid #cdd1d7
    .rw-input
        font-family "Clear Sans"
        border none
        outline none
        color #3a3a3c
        font-size 14px
        padding-left 15px
        width 100%
        line-height 40px
    .rw-list-option
        font-size 14px
        color #3a3a3c
        font-family "Clear Sans"
    .rw-btn
        background-color #fff
        border none
    .rw-popup-container
        display none
    .rw-list
        list-style-type none
        .rw-list-option
            padding 10px 15px
            cursor pointer
            &:hover
                background-color #f4f6f9
        .rw-list-empty
            padding 10px 15px
    .rw-state-disabled
        .rw-btn
            background-color #edf0f5
        .rw-btn-select
            cursor not-allowed
            height 100%
            &:hover .rw-i
                color #b8bec7