.education
    &__title
        display inline-block
        line-height 30px
        padding-left 10px
        padding-right 30px
        height 30px
        background-color #edf0f5
        color #3a3a3c
        font-family "Clear Sans"
        font-size 14px
        font-weight 400
        text-transform uppercase
        position relative
       
        