.flexy-table
    width 100%
    border-collapse collapse
    &__tbody
        &--wrapped
            &:before
                content "-"
                display block
                line-height 10px
                color transparent
    &__td
        border-top 1px solid $bg--border
    &__border
        &_top
            border 1px solid $bg--border
        &_none
            border none
    &__rate
        &-first
            background linear-gradient(135deg, #75e96d, #68d385)
        &-second
            background linear-gradient(135deg, #48f4c2, #29e1c8)
        &-third
            background linear-gradient(135deg, #8df1ee, #59e3de)
        &-fourth
            background linear-gradient(135deg, #71dbf6, #42c9eb)
        &-fifth
            background linear-gradient(135deg, #9ebde9, #9ba0e5)
    &__sort
        cursor pointer
        display flex
        align-items center
        &:after
            content '\e91e'
            display inline-block
            font-size 5px
            color $text-color-third
            vertical-align middle
            margin-left 2px
            font-family 'ad_work_icons' !important
            speak none
            font-style normal
            font-weight normal
            font-variant normal
            text-transform none
            line-height 1
            transition all .25s ease-out
        &--up
            &:after
                transform rotate(180deg)
    &--main-row
        box-shadow 0px 0px 7px 0px rgba(0, 0, 0, 0.1)
        .flexy-table__td
            &:first-child
                position relative
                &:after
                    content ''
                    position absolute
                    left 0
                    top 0
                    bottom 0
                    width 3px
                    background-color $bg--btn-primary
    &--padding
        // &-lg
        //     @media all and (min-width: 992px)
        //         &-x-30
        //             padding-left 30px
        //             padding-right 30px

        &-15
            .flexy-table__td
                padding-left 15px
                padding-right 15px
                @media all and (min-width: 992px)
                    padding-top 15px
                    padding-bottom 15px
                &:first-child
                    @media all and (min-width: 992px)
                        padding-left 30px
                &:last-child
                    @media all and (min-width: 992px)
                        padding-right 30px
        &-30
            .flexy-table__td
                padding-left 15px
                padding-right 15px
                @media all and (min-width: 992px)
                    padding-top 30px
                    padding-bottom 30px
                &:first-child
                    @media all and (min-width: 992px)
                        padding-left 30px
                &:last-child
                    @media all and (min-width: 992px)
                        padding-right 30px
        @media all and (max-width: 991px)
            &-30
                .flexy-table__td
                    padding-left 15px
                    padding-right 15px
                    padding-bottom 15px
    @media all and (max-width: 991px)
        &__thead
            display none
        &__tr
            display flex
            flex-wrap wrap
            border-bottom 1px solid $bg--border
            padding-top 10px
            padding-bottom 10px
            position relative
            &:last-child
                border none

        &__td
            position relative
            border none
            &:before
                content attr(data-title)
                display block
                white-space nowrap
                text-align left
                font-size 12px
                color $text-color-second
                margin-bottom 5px
        &--20
            &.flexy-table__td
                width 20%
        &--40
            &.flexy-table__td
                width 40%
        &--50
            &.flexy-table__td
                width 50%
        &--60
            &.flexy-table__td
                width 60%
        &--80
            &.flexy-table__td
                width 80%
        &--100
            &.flexy-table__td
                width 100%
        &--main-row
            box-shadow 0px 0px 7px 0px rgba(0, 0, 0, 0.1)
            position relative
            &:after
                content ''
                position absolute
                left 0
                top 0
                bottom 0
                width 3px
                background-color $bg--btn-primary
            .flexy-table__td 
                &:after
                    content ''