.form
    &__label
        color $text-color-second
        margin-bottom 10px
        &::first-letter
            text-transform uppercase
        @media all and (min-width 768px)
            margin-bottom 0
        &--renge
            margin-bottom 30px
        @media all and (min-width 768px)
            margin-bottom 0
        &--bold
            font-weight 600
        &--color-black
            color #000
        &--color-primary
            color $text-color-first
        &--icon
            font-family "Clear Sans" !important
            &:before
                font-size 23px
                padding-right 5px
                font-family "ad_work_icons" !important
                speak none
                font-style normal
                font-weight 400
                -webkit-font-feature-settings normal
                font-feature-settings normal
                font-variant normal
                text-transform none
                line-height 1
                -webkit-font-smoothing antialiased
            &-p-r-10
                &:before
                    padding-right 10px
            &-font-30
                &:before
                    font-size 30px

    &__input-wrapper
        position relative
    &__input
        color $text-color-first
        padding-left 15px
        padding-right 15px
        @media screen and (device-aspect-ratio: 2/3)
            font-size: 16px 
        /* iPhone 5, 5C, 5S, iPod Touch 5g */
        @media screen and (device-aspect-ratio: 40/71) 
           font-size: 16px 
        /* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
        @media screen and (device-aspect-ratio: 375/667) 
            font-size: 16px
        /* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
        @media screen and (device-aspect-ratio: 9/16) 
            font-size: 16px
        &:focus
            border 1px solid #528be6
            &+ .flag-dropdown
                border 1px solid #528be6
                border-right none
        &[type="password"]
            padding-right 30px
    &__text-area
        font-family "Clear Sans"
        color $text-color-first
        border 1px solid $bg--border
        width 100%
        padding 10px 15px
        resize none
        border-radius 0
        -webkit-appearance none
        -webkit-overflow-scrolling touch
        &::-webkit-scrollbar 
            width 20px
        &::-webkit-scrollbar-thumb 
            background-color #c8c7c7
            border-left 8px solid #fff
            border-right 8px solid #fff
            border-radius 5px
            
        &::-webkit-scrollbar-button:vertical:decrement 
            cursor pointer
            background url("../img/arrow-up.svg") center no-repeat
            
        &::-webkit-scrollbar-button:vertical:increment 
            cursor pointer
            background url("../img/arrow-dow.svg") center no-repeat
textarea::-webkit-input-placeholder
    font-family: "Clear Sans"

textarea:-moz-placeholder
    font-family: "Clear Sans"

textarea::-moz-placeholder
    font-family: "Clear Sans"

textarea:-ms-input-placeholder 
    font-family: "Clear Sans"

textarea::placeholder
    font-family: "Clear Sans"

