.navbar
	padding 15px
	flex-shrink 0
	position relative
	z-index 10
	&:after
		content ''
		position absolute
		left 0
		right 0
		bottom 0
		border-bottom 1px solid $bg--border
	&--white
		background-color #fff
	@media all and (min-width: 768px)
		padding 20px 15px
		line-height 1
