.hint
    position fixed
    background-color rgba(0,0,0,.5);
    width: 100%
    height 100%
    left 0px
    top 0px
    z-index 11
    display flex
    justify-content: center
    align-items: center
    flex-direction: column
    &__text
        color: #ffffff
        fonts 14px
        font-weight: 700
    &__close
        border-radius: 50%
        width: 40px
        height 40px
        border: 2px solid #ffffff
        background-color transparent
        position relative
        cursor pointer
        outline none
        &:active,&:hover
            outline none
        &:before,&:after
            content: ''
            display: block
            position absolute
            width 25px
            height 2px
            background-color #ffffff
        &:before
            transform: rotate(45deg)
        &:after
            transform: rotate(-45deg)
.hint--block-active
    position relative
    z-index 12
    &.btn--hired
        background-color #fff
        color: #528be6