.hireDatesFilters
    position relative
    display inline-block
    &__display
        font-size 14px
        color $text-color-fourth
    &__list
        display none
        position absolute
        z-index 1
        top 100%
        left 0
        margin-top 10px
        padding 10px
        background #fff
        border 1px solid #eee
        &_expanded
            display block
            @media all and (min-width 768px)
                min-width 250px