.hr
    &--lg
        @media all and (min-width 992px)
            &-left
                border-left 1px solid $bg--border
                &-theme-light-gray
                    border-left 1px solid $bg-border-table
            &-top-none
                border-top none !important
    &--md
        @media all and (min-width 768px)
            &-left
                border-left 1px solid $bg--border
                &-theme-light-gray
                    border-left 1px solid $bg-border-table
                
    &--top
        border-top 1px solid $bg--border
        &-theme-light-gray
            border-top 1px solid $bg-border-table 
    &--bottom
        border-bottom 1px solid $bg--border
        &-theme-light-gray
            border-bottom 1px solid $bg-border-table 
    &--bottom-light
        border-bottom 1px solid #eef1f6
    &--thin
        border-top none
        border-left none
        border-right none
    &--left
        border-left 1px solid $bg--border
        &-theme-light-gray
            border-left 1px solid $bg-border-table 
    &--right
        &-theme-light-gray
            border-right 1px solid $bg-border-table 
        &-bold
            border-right: 2px solid #fff;
    &--fullwidth
        margin-left -15px
        margin-right -15px
        border 1px solid $bg--border
        border-top none
        @media all and (min-width: 768px)
            margin-right -30px
            margin-left -30px
    &--box
        border-left none 
        border-right none
        padding-bottom 20px
        margin-bottom 20px
        &:last-child
            border-bottom none
            margin-bottom 0
            padding-bottom 0
    &--1-light-gray
        width 100%
        height 1px
        background-color $color-light-gray