.humburger
    display inline-block
    width 20px
    position relative
    border-top 2px solid #000000
    border-bottom 2px solid #000000
    height 12px
    &:before, &:after
        display block
        height 2px
        width 10px
        top calc(50% - 1px)
        background-color #000
        position absolute
        right 0
    &:before
        content ""
    &--open
        border-color transparent
        &:before
            height 2px
            width 20px
            transform rotate(45deg)
        &:after
            height 2px
            width 20px
            content ""
            transform rotate(-45deg)
