icon--sport = "\e925"
icon--rest_zone = "\e926"
icon--relocation = "\e927"
icon--presents = "\e928"
icon--payment_details = "\e929"
icon--payment = "\e92a"
icon--insurance = "\e92b"
icon--food = "\e92c"
icon--courses = "\e92d"
icon--corporate_events = "\e92e"
icon--company_info = "\e92f"
icon--check_verified-path1 = "\e930"
icon--check_verified-path2 = "\e931"
icon--certification = "\e932"
icon--calendar = "\e933"
icon--bonus = "\e934"
icon--search = "\e924"
icon--filter = "\e922"
icon--close = "\e923"
icon--help_arrow = "\e921"
icon--star = "\e91d"
icon--sort_down = "\e91e"
icon--eye_hide = "\e91f"
icon--carret_down = "\e920"
icon--user = "\e918"
icon--alarm = "\e919"
icon--arrow-up = "\e91a"
icon--check-mark = "\e91b"
icon--cross = "\e91c"
icon--telegram = "\e914"
icon--skype = "\e915"
icon--viber = "\e916"
icon--linkedIn = "\e917"
icon--edit = "\e900"
icon--email = "\e901"
icon--about_me = "\e902"
icon--education = "\e903"
icon--geagraphy = "\e904"
icon--password = "\e905"
icon--type_of_employment = "\e906"
icon--unwanted_employer = "\e907"
icon--test = "\e908"
icon--exp = "\e909"
icon--lang = "\e90a"
icon--details = "\e90b"
icon--contact = "\e90c"
icon--eye = "\e90d"
icon--faq = "\e90e"
icon--message = "\e90f"
icon--notif = "\e910"
icon--personal = "\e911"
icon--upload = "\e912"
icon--delete = "\e913"
icon--info = "\e935"
icon--Rating_arrow = "\e938"
icon--Fail_confirmation = "\e939"
icon--Hobbie  = "\e93d"
icon--lang1 = "\e93e"
icon--Location = "\e93f"
icon--Personal = "\e940"
icon--Rating = "\e941"
icon--Skills = "\e942"
icon--Tests = "\e943"
icon--Education = "\e944"
icon--Experience = "\e945"
icon--Print = "\e946"
icon--export = "\e93a"
icon--linkedin-footer = "\e949"
icon--facebook-footer =  "\e948"
icon--Telegram-footer = "\e947"
icon--VK-footer = "\e950"
icon--instagram-footer = "\e951"
icon--add = "\e952"
icon-attach = "\e94a"
icon-Balance_details =  "\e94b"

.icon
	position relative
	&--add
		top: -2px;
		color $bg--btn-primary
		position relative
		width 16px
		height 16px
		display inline-block
		background-color $bg--btn-primary
		margin-right 10px
		vertical-align middle
		&:before
			content ''
			position absolute
			left 7px
			top 3px
			width 2px
			height 10px
			border-left 2px solid #fff
		&:after
			content ''		
			position absolute		 
			bottom 7px 
			left 3px
			width 10px
			height 2px
			border-bottom 2px solid #fff

	&--footer-link 
		padding-right 10px
	
	&--main-color
		color $bg--btn-primary

	&--input
		position absolute
		right 15px
		top 50%
		transform translateY(-50%)
		color $text-color-fourth
	&--hint
		width 14px
		height 14px
		top 2px
		display inline-block
		border-radius 50%
		background-color #cdd1d7
		position relative
		&:before
			font-size 10px
			content icon--alarm
			position absolute
			left -1.5px
			display block
			color #fff
			line-height 14px
			
	&--incoming
		&:after
			content ''
			display block
			position absolute
			right 3px
			top -1px
			width 3px
			height 3px
			border-radius 100%
			background-color #c2143d

	&--none
		display none

@font-face
	font-family 'ad_work_icons'
	font-weight normal
	font-style normal

	src url('../fonts/ad_work_icons/ad_work_icons.eot?t61nxz')
	src url('../fonts/ad_work_icons/ad_work_icons.eot?t61nxz#iefix') format('embedded-opentype'),
			url('../fonts/ad_work_icons/ad_work_icons.ttf?t61nxz') format('truetype'),
			url('../fonts/ad_work_icons/ad_work_icons.woff?t61nxz') format('woff'),
			url('../fonts/ad_work_icons/ad_work_icons.svg?t61nxz#ad_work_icons') format('svg')

[class^="icon--"]:before, [class*=" icon--"]:before,
[class^="icons--"]:before,[class*=" icons--"]:before
	font-family 'ad_work_icons' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
.icon--sport
	&:before
		content icon--sport
.icon--rest_zone
	&:before
		content icon--rest_zone
.icon--relocation
	&:before
		content icon--relocation
.icon--presents
	&:before
		content icon--presents
.icon--payment_details
	&:before
		content icon--payment_details
.icon--payment
	&:before
		content icon--payment
.icon--insurance
	&:before
		content icon--insurance
.icon--food
	&:before
		content icon--food
.icon--courses
	&:before
		content icon--courses
.icon--corporate_events
	&:before
		content icon--corporate_events
.icon--company_info
	&:before
		content icon--company_info
.icon--check_verified .path1
	&:before
		content: icon--check_verified-path1	
		color rgb(108, 212, 76)
.icon--check_verified .path2
	&:before
		content: icon--check_verified-path2	
		margin-left -1em	
		color rgb(255, 255, 255)
.icon--certification
	&:before
		content icon--certification
.icon--calendar
	&:before
		content icon--calendar
.icon--bonus
	&:before
		content icon--bonus
.icon--search
	&:before
		content icon--search
.icon--filter
	&:before
		content icon--filter
	&-custom
		position relative
		left -4px
.icon--close
	&:before
		content icon--close
.icon--help_arrow
	&:before
		content icon--help_arrow
.icon--star
	&:before
		content icon--star
.icon--sort_down
	&:before
		content icon--sort_down
.icon--eye_hide
	&:before
		content icon--eye_hide
.icon--carret_down
	&:before
		content icon--carret_down
.icon--user
	&:before
		content icon--user
.icon--alarm
	&:before
		content icon--alarm
.icon--arrow-up
	&:before
		content icon--arrow-up
.icon--arrow-left
	&:before
		content icon--arrow-up
		transform rotate(-90deg)
.icon--check-mark
	&:before
		content icon--check-mark
.icon--cross
	&:before
		content icon--cross
.icon--telegram
	&:before
		content icon--telegram
.icon--skype
	&:before
		content icon--skype
.icon--viber
	&:before
		content icon--viber
.icon--linkedIn
	&:before
		content icon--linkedIn
.icon--edit
	&:before
		content icon--edit

.icons--edit-before
	&:before
		content icon--edit
.icons--payment-before
	&:before
		content icon--payment
.icon--email
	&:before
		content icon--email
.icon--about_me
	&:before
		content icon--about_me
.icon--education
	&:before
		content icon--education
.icon--geagraphy
	&:before
		content icon--geagraphy
.icon--password
	&:before
		content icon--password
.icon--type_of_employment
	&:before
		content icon--type_of_employment
.icon--unwanted_employer
	&:before
		content icon--unwanted_employer
.icon--test
	&:before
		content icon--test
.icon--exp
	&:before
		content icon--exp
.icon--lang
	&:before
		content icon--lang
.icon--details
	&:before
		content icon--details
.icon--contact
	&:before
		content icon--contact
.icon--eye
	&:before
		content icon--eye
.icon--faq
	&:before
		content icon--faq
.icon--message
	&:before
		content icon--message
.icon--notif
	&:before
		content icon--notif
.icon--personal
	&:before
		content icon--personal
.icon--upload
	&:before
		content icon--upload
.icon--delete
	&:before
		content icon--delete
.icon--info
	&:before
		content icon--info
.icon--Rating_arrow
	&:before
		content icon--Rating_arrow
.icon--Fail_confirmation
	&:before
		content icon--Fail_confirmation
.icon--Hobbie
	&:before
		content icon--Hobbie
.icon--lang1
	&:before
		content icon--lang1
.icon--Location
	&:before
		content icon--Location
.icon--Personal
	&:before
		content icon--Personal
.icon--Rating
	&:before
		content icon--Rating
.icon--Skills
	&:before
		content icon--Skills
.icon--Tests
	&:before
		content icon--Tests
.icon--Education
	&:before
		content icon--Education
.icon--Experience
	&:before
		content icon--Experience
.icon--Print
	&:before
		content icon--Print
.icon--export
	&:before
		content icon--export
.icon--attach
	&:before
		content icon-attach
.icon--Balance_details
	&:before
		content icon-Balance_details
.icon--file
	position relative
	padding-left 30px
	&:before
		content icon-attach
		display block
		position absolute
		font-size 20px
		top 50%
		color #528be6
		transform translateY(-50%)
		left 0

.icon--margin
	&-r-10
		&:before
			margin-right 10px
.icons--margin
	&-r-10
		&:before
			margin-right 10px
.icon--size
	&-12
		&:before
			font-size 12px
	&-20
		&:before
			font-size 20px
.icons--size
	&-12
		&:before
			font-size 12px
	&-14
		&:before
			font-size 14px
	&-16
		&:before
			font-size 16px
	&-20
		&:before
			font-size 20px
.icon
	&--social
		color $text-color-third
		&:hover
			color $text-color-fourth
.pseudo-icon__info
	display block  
	height 16px
	width 16px
	&:before 
		content " "
		display block
		height 100%
		width 100%
		background embedurl('../../img/info.svg') 0 0 no-repeat
	&--inline
		display inline-block
		&:before
			display inline-block
.icons--padding-r-10
	&:before
		padding-right 10px
.icons--padding-r-5
	&:before
		padding-right 5px
.icons--font--14
	&:before
		font-size 14px
.icons--font--16
	&:before
		font-size 16px
.icons
	&--top
		&-1
			&:before
				top 1px
		&-2
			&:before
				top 2px
		&-3
			&:before
				top 3px
.icons--edit-card
	font-size 0px
	&:before
		font-size 14px
		text-indent 1px
		padding-right 0
	@media all and (min-width 768px)
		font-size 12px
		&:before
			font-size 14px
			text-indent 1px
			padding-right 5px
.icon--linkedin-footer
	&:before 
		content icon--linkedin-footer
.icon--facebook-footer
	&:before 
		content icon--facebook-footer
.icon--Telegram-footer
	&:before 
		content icon--Telegram-footer
.icon--VK-footer
	&:before 
		content icon--VK-footer
.icon--instagram-footer
	&:before 
		content icon--instagram-footer
.icons--Add
	&:before
		content icon--add
		position relative
.icon--verified
	&:before
		content icon--check-mark
		font-size 10px;
		color #ffffff
		display inline-block
		width 20px
		height 20px
		background-color #6CD44C
		border-radius 50%
		text-align center
		line-height 20px
	&-font-50
		&:before
			font-size 25px;
			width 50px
			height 50px
			line-height 50px
.icon--blocked
	&:before
		content icon--cross
		font-size 10px;
		color #ffffff
		display inline-block
		width 20px
		height 20px
		background-color #c2143d
		border-radius 50%
		text-align center
		line-height 20px
	&-font-50
		&:before
			font-size 25px
			width 50px
			height 50px
			line-height 50px