.in-pool
    &--st-w-10
        stroke-width 10px
    &--path-shadow
        stroke-width 35px
        stroke #e6e6e6
    &--st0
        fill #F5F7F

    svg path
        will-change auto
        stroke-miterlimit round
    svg text
        font-family 'Clear Sans',sans-serif
        font-weight bold
        font-size 14px
        line-height 1
    &__circle
        stroke-dasharray 5.5 23
    &__background
        stroke #e6e6e6
    &__fill
        stroke #538be3
    &__bg,&__meter
        stroke-width 10px
    &--st4
        fill #6CD543
    &--st5
        fill #F6132E
    &--st6
        fill #A96B07
    &--st7
        fill #FFA20D
    &__limit-text
        fill #b8bec7
    &__left-line
        transform rotate(11deg)
        stroke-width 15px
    &__right-line
        transform rotate(-9deg)
        stroke-width 15px
    &__circle-position-open
        fill #ffffff
        stroke #e6e6e6 
        strokeWidth 1px
    &__wrap-svg
        position relative
    &__day
        font-weight 500
        position absolute
        left 50%
        transform translateX(-50%)
        top 38%
        font-size 14px
        @media screen and (min-width: 768px)
            font-size 10px
            top 34%
        @media screen and (min-width: 1200px)
            font-size 12px
    .wrap-pool
        width 90%
        margin 0 auto
        position relative