.inadaptive-table
    &__sticky-rating
        position -webkit-sticky
        position sticky
        z-index 2
        width 100%
        min-width 918px
        top 0
    &__thead
        &_sticky-rating
            display block
            min-width 918px
    &__tbody
        min-width 918px
        &--wrapped
            &:before
                content "-"
                display block
                line-height 10px
                color transparent
        &_sticky-rating
            display block
            // max-height 1000px
            // overflow auto
    &__tr
        display flex
        flex-direction col
        border-top 1px solid $bg--border
        &_expanded
            margin 3px 0
        &--bottom
            border-bottom 1px solid $bg--border
            &-t-0
                border-top: 0
                border-bottom 1px solid $bg--border
    &__td
        display flex
        align-items center
        justify-content center
        &_inline-block
            display inline-block
        &_20-p
            width 20%
        &_35
            width 5%
            min-width 35px
        &_40
            width 5%
            min-width 50px
            max-width 50px
        &_55
            width 5%
            min-width 55px
        &_98
            width 13%
            min-width 98px
        &_100
            width 15%
            min-width 100px
        &_120
            width 15%
            min-width 120px
        &_150
            width 15%
            min-width 150px
        &_248
            width 25%
            min-width 248px
        &_348
            width 25%
            min-width 348px
        &--left-position
            justify-content flex-start
            padding-left 5% !important
        &--md
            @media all and (min-width 768px)
                &_120
                    width 15%
                    min-width 120px
    &__border
        &_top
            border 1px solid $bg--border
        &_none
            border none
    &__rate
        &-first
            background linear-gradient(135deg, #7EF75A, #70E276, #5FC69A)
        &-second
            background linear-gradient(135deg, #8CF1ED, #76EBE7, #5AE4E0)
        &-third
            background linear-gradient(135deg, #70DBF6, #5BD3F1, #42CAEC)
        &-fourth
            background linear-gradient(135deg, #71dbf6, #76DDF7, #25C0E6)
        &-fifth
            background linear-gradient(135deg, #A4C4F2, #A2BBEF, #9BA0E5)
        &-ten
            background linear-gradient(135deg ,#62C4E8,#3F9CF0)
        &-no-top
           background-color #528be6
        &-error
           background-color #ca1145
    &__rate-text
        &-first
            color #4fd526
        &-second
            color #53ce9c
        &-third
            color #1fdbd5
        &-fourth
            color #6ad1ea
        &-fifth
            color #6c7bd7
        &-ten
            color #4DACED
        &-no-top
            color #5992ed
        &-error
            color #ca1145
    &__sort
        cursor pointer
        display flex
        align-items center
        &:after
            content '\e91e'
            display inline-block
            font-size 5px
            color $text-color-fourth
            vertical-align middle
            margin-left 2px
            margin-right 5px
            font-family 'ad_work_icons' !important
            speak none
            font-style normal
            font-weight normal
            font-variant normal
            text-transform none
            line-height 1
            transition all .25s ease-out
        &_up
            &:after
                transform rotate(180deg)
    &--main-row
        box-shadow 0px 0px 7px 0px rgba(0, 0, 0, 0.1)
        .inadaptive-table__td
            &:first-child
                position relative
                &:after
                    content ''
                    position absolute
                    left 0
                    top 0
                    bottom 0
                    width 3px
                    background-color $bg--btn-primary
    &--height
         &-45
             height 45px
         &-70
             height 70px
    
    &--padding
        &-5
            .inadaptive-table__td
                padding 5px
        &-15
            .inadaptive-table__td
                padding 15px
        &-30
            .inadaptive-table__td
                padding-left 15px
                padding-right 15px
    &__hack-content
        width calc(100% - 50px)