.info
	overflow hidden
	font-size 14px
	&__icon
		background-color #f9f9f9
		position relative   
		display flex
		justify-content center
		align-items center
		flex-shrink 0
		&--sm
			width 44px
		&--lg
			width 75px
			height 75px
		&--warning
			.icon
				color #c2143d
			&:before
				background-color #c2143d
		&--success
			.icon
				color #6cd44c
			&:before
				background-color #6cd44c
		&--information
			.icon
				color #528be6
			&:before
				background-color #528be6
		&--bordered
			&:before
				content ''
				position absolute
				left 0
				top 0
				bottom 0
				width 3px
	&--rounded
		border-radius 5px
	&--shadow
		box-shadow 0px 1px 7px 0px rgba(0, 0, 0, 0.1)
	&--lined
		border-bottom 1px solid $bg--border
