.input
	display block
	width 100%
	padding .375rem .75rem
	font-size 14px
	line-height 1.5
	background-color #fff
	background-clip padding-box
	border 1px solid $bg--border
	transition bg--border .15s ease-in-out,box-shadow .15s ease-in-out
	color $text-color-first
	min-height 2.5rem
	margin 0
	border-radius 0
	&::placeholder
		font-size .875em
		font-weight 100
		color #b8bec7
	&:focus
		outline none
	&--place-c
		&::placeholder
			text-align center
	&--no-valid
		border 1px solid #ca1145
	@media screen and (device-aspect-ratio: 2/3)
		font-size: 16px 
	/* iPhone 5, 5C, 5S, iPod Touch 5g */
	@media screen and (device-aspect-ratio: 40/71) 
		font-size: 16px 
	/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
	@media screen and (device-aspect-ratio: 375/667) 
		font-size: 16px
	/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
	@media screen and (device-aspect-ratio: 9/16) 
		font-size: 16px
input
	&:disabled
		background-color #edf0f5
		cursor not-allowed