.input-spin
	display inline-flex

	&__input
		max-width 40px
		padding 8px
		border 1px solid $bg--border
		height 28px
		text-align center
		-webkit-appearance textfield
		-moz-appearance textfield
		appearance textfield
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button 
			-webkit-appearance: none

	&__button 
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		outline none
		-webkit-appearance none
		background-color $bg--border
		border none
		align-items center
		justify-content center
		width 20px
		height auto
		cursor pointer
		margin 0
		position relative
		transition all .25s ease-out
		&:hover, &:focus
			background-color $bg--btn-primary
		&:before,
		&:after
			display inline-block
			position absolute
			content ''
			width 5px
			height 2px
			background-color #fff
			transform translate(-50%, -50%)
		&--plus
			&:after 
				transform translate(-50%, -50%) rotate(90deg)