$circleCount = 12
$animationDuration = 1.2s
.loader-fading-circle
  width: 25px
  height: 25px
  position: relative
  margin: auto

  .loader-circle
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0

  .loader-circle:before
    content: ''
    display: block
    margin: 0 auto
    width: 4px
    height: 4px
    background-color: #528be6
    border-radius: 50%
    animation: sk-fading-circle-delay $animationDuration infinite ease-in-out both

  for $i in (1..$circleCount) 
    .loader-circle-{$i} 
      transform: rotate((360deg / $circleCount * ($i - 1)))

  for $k in(1..$circleCount)
    .loader-circle-{$k}:before 
      animation-delay: ($animationDuration - $animationDuration / $circleCount * ($k - 1))

@keyframes sk-fading-circle-delay
  0%, 39%, 100% 
    opacity: 0
  40%
    opacity: 1