.link
    transition all .25s ease-out
    text-decoration none
    cursor pointer
    &:hover
        color darken($text-color-second, 40%)
    &__go-back
        display inline-block
        font-size 12px
        color $text-color-second
        padding-left 15px
        position relative
        line-height 1
        &:before
            position absolute
            left 0
            top 50%
            transform translateY(-50%)
            font-size 10px
    &--underline
        &:hover
            text-decoration underline
    &--under
        text-decoration underline
    &--uppercase
        text-transform uppercase
    &--primary
        color $text-color-first
        &:hover
            color darken($text-color-first, 40%)
            text-decoration none
    
    &--grey
        color $text-color-second
        &:hover
            color darken($text-color-second, 40%)
            text-decoration underline
    &--grey-h-b
        color $text-color-second
        &:hover
            color $text-color-fourth
    &--blue
        color $text-color-fourth
        &:before
            color $text-color-fourth
        &:hover
            color darken($text-color-fourth, 40%)
            text-decoration underline
            &:before
                color darken($text-color-fourth, 40%)
    &--under
        text-decoration underline
    &--close
        position relative
        &:hover
            text-decoration none
        &:before
            transition all .25s ease-out
            font-size 9px
            position relative
            z-index 2
        &:after
            transition all .25s ease-out
            content ''
            z-index 1
            width 17px
            height 17px
            display block
            position absolute
            top 0
            right -0.4px
            background-color transparent
        &:hover:after
            border-radius 100%
            background $bg--border
    &--tooltip-anchor
        position relative
        background $bg--border
        border-radius 100%
        display inline-block
        text-align center
        width 14px
        height 14px
        flex initial
        &:before
            content 'i'
            position absolute
            top 47%
            left 50%
            font-weight 600
            transform translate(-50%, -50%)
            font-size 12px
            color #fff
    &--theme-blue
        color #fff
        background-color $text-color-fourth
        padding-top 3px
        padding-bottom 5px
        line-height 1
        &:hover
            background-color darken($text-color-fourth, 10%)
    &--tooltip-anchor-white
        position relative
        background #fff
        border-radius 100%
        display inline-block
        text-align center
        width 14px
        height 14px
        flex initial
        &:before
            content 'i'
            position absolute
            top 47%
            left 50%
            transform translate(-50%, -50%)
            font-size 12px
            font-weight 600
            color $bg--border
    &--mobile
        @media all and (max-width 767px)
            padding 5px
            border-radius 5px
            box-shadow 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    &--sidebar
        color: $text-color-second
        position relative
        display inline-block
        &.active
            color: $text-color-fourth
            &::before
                content: ''
                height 2px
                width: 100%
                display block
                position absolute
                bottom: 0
                left 0
                background-color $text-color-fourth