.list
    padding 0
    margin-top 0
    &__item
        list-style none
        &--inline
            display inline-block
            margin-right 5px
            margin-bottom 10px
        &--inline-simple
            display inline-block
        &--inline-flex
            display inline-flex
        &--last-inline
            margin-right 0
        &--theme-btn-blue
            border 1px solid $bg--btn-primary
            background-color #fff
            &:hover
                background-color $bg--btn-primary
                a
                    color #ffffff