.lr-line
  width 100%
  padding 0
  text-align center
  &:after
    display inline-block
    margin 0 0 8px 0
    height 1px
    content " "
    text-shadow none
    background-color #999
    width calc(50% - (40.5px * 2))
  &:before
    display inline-block
    margin 0 0 8px 0
    height 1px
    content " "
    text-shadow none
    background-color #999
    width calc(50% - (40.5px * 2))