.modal
    z-index 1001
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    background rgba(0, 0, 0, 0.58)
    &__footer
        border-top 1px solid $bg--border

.modal__content
    background #fff
    padding 20px

/* ODO:: remove it */
.popup
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);

.popup_inner
  position: absolute;
  left: 25%;
  width: auto;
  height: 60%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
