.multiselect
    .rw-multiselect
        position relative
    .rw-input-reset
        border none
        outline none
    .rw-widget-input
        & > div
            display flex
            flex-wrap wrap
    .rw-select
        position absolute
        color #b8bec7
        font-size 8px
        display block
        width 14px
        cursor pointer
        right 8px
        top 20px
        &:hover
            color #000
        &:before
            position absolute
            top 50%
            transform translateY(-50%)
            display block
            content "\e920"
            font-family 'ad_work_icons' !important
            font-style normal
            font-weight normal
            font-variant normal
            text-transform none
            line-height 1
            transition transform .25s ease-out
        button
            display none
    .rw-open
        .rw-select
            &:before
                transform rotateX(180deg) translateY(50%)
        .rw-popup-container
            left 0
            top 39px
            display block
            position absolute
            background #fff
            z-index 1000
            width 100%
            border-left 1px solid #528be6
            border-bottom 1px solid #528be6
            border-right 1px solid #528be6
            max-height 200px
            overflow-y auto
    .rw-open-up
        .rw-select
            &:before
                transform rotateX(180deg) translateY(50%)
        .rw-popup-container
            left 0
            bottom 99%
            display block
            position absolute
            background #fff
            z-index 1000
            width 100%
            border-left 1px solid #528be6
            border-top 1px solid #528be6
            border-right 1px solid #528be6
            max-height 200px
            overflow-y auto
    .rw-input-reset
        padding-left 15px
        padding-right 30px
        width 100%
        border 1px solid #cdd1d7
        height 40px
        margin-bottom 10px
        box-shadow none
        border-radius 0
        outline none  
        -webkit-appearance none
        -moz-appearance none
        appearance none
        @media screen and (device-aspect-ratio: 2/3)
            font-size: 16px 
        /* iPhone 5, 5C, 5S, iPod Touch 5g */
        @media screen and (device-aspect-ratio: 40/71) 
           font-size: 16px 
        /* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
        @media screen and (device-aspect-ratio: 375/667) 
            font-size: 16px
        /* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
        @media screen and (device-aspect-ratio: 9/16) 
            font-size: 16px
    
    .rw-state-focus .rw-input-reset
        border 1px solid #528be6
    &--no-valid
        .rw-input-reset
            border 1px solid #ca1145
    .rw-popup-container
        display none
    .rw-multiselect-taglist
        display flex
        flex-wrap wrap
        order 1
        .rw-multiselect-tag
            display flex
            margin-right 5px
            margin-bottom 5px
            align-items center
            background-color #edf0f5
            padding 5px 7px 5px 15px
            font-family "Roboto"
            font-size 14px
            color #3a3a3c
            .rw-multiselect-tag-btn
                outline none
                height 100%
                margin-left 5px
                padding 0
                background transparent
                border none
                cursor pointer
                font-family "Clear Sans"
                font-weight 200
                line-height 20px
                cursor pointer
                span
                    transition all .25s ease-out
                    line-height 18px
                    font-family "Roboto"
                    font-size 18px
                    width 18px
                    display inline-block
                    text-align center
                    &:hover
                        border-radius 100%
                        background $text-color-second
                        color $bg--border
    .rw-widget-container
        display flex
        position relative
        &>div
            display flex
            flex 1
    .rw-sr
        display none
    .rw-list
        list-style-type none
        outline none
        .rw-list-option
            padding 10px 15px
            cursor pointer
            outline none
            &:hover
                background-color #f4f6f9
        .rw-list-empty
            padding 10px 15px
            outline none
