.nav-list 
  list-style: none
  margin-bottom 30px
  @media all and (min-width: 768px)
    margin-bottom 0
  &__item 
    margin-bottom 15px
    display block
  &--inline
    display inline-block
  .link.nav-list__link
    color $text-color-second
