.navigation
	list-style none
	max-height 100%
	overflow hidden
	&__item
		background-color #fff
		&--separate
			@media screen and (min-width: 992px)
				margin-top 2px
				padding-bottom 10px
				border-radius 0 0 5px 5px
				margin-top 5px
			.navigation__link
				box-shadow none
		&--last-item
			margin-top 2px
			padding-bottom 10px
			border-radius 0 0 5px 5px
			margin-top 5px
			.navigation__link
				box-shadow none
	&__link
		display inline-block
		position relative
		color $text-color-second
		text-decoration none
		padding-top 10px
		padding-bottom 10px
		padding-left 15px
		padding-right 13px
		width 100%
		transition background-color .1s ease-in-out
		box-shadow 0 1px 3px rgba(0,0,0,.1)
		cursor pointer
		line-height 1.2
		@media screen and (min-width: 992px)
			box-shadow none
		&:hover
			background-color #f4f6f9
		&:after
			content ''
			position absolute
			top 0
			bottom 0
		&--active
			color $bg--btn-primary
		&--hidden
			color $text-color-third
			cursor default
		&_noShadow
			box-shadow none
		@media all and (min-width 1200px)
			padding-left 25px
			padding-left 25px
	//second-level navigation and its children
	&--collapsed-open
		max-height 100vh
		.navigation__link
			padding-left 25px
			font-size 14px
			@media all and (min-width 1200px)
				padding-left 35px
	&--collapsed-close
		max-height 0
		transition max-height .35s ease-in-out
	&__deepList
		.navigation__link
			box-shadow none