.notification
    box-shadow 0 3px 7px rgba(0, 0, 0, 0.1)
    position fixed
    display flex
    z-index 9999
    padding 20px
    border-radius 5px
    color #fff
    right 0
    top 0
    max-width 100%
    width 100%
    &__text
        font-size 14px
    &--error
        background-color #c2143d
    &--success
        background-color #4caf50
    &--error .notification__icon:before
        content icon--cross
        margin-right 15px
    &--bug_report
        background-color #e8641b
    &--bug_report .notification__icon:before
        font-size 16px
        content icon--alarm
        margin-right 12px
        margin-left -4px
    &__icon
        font-size 12px
        font-family 'ad_work_icons' !important
        speak none
        font-style normal
        font-weight normal
        font-variant normal
        text-transform none
        line-height 1
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        position relative
    &__close
        background transparent
        border none
        color #fff
        position absolute
        font-size 22px
        right 3px
        top 3px
        cursor pointer
    @media only screen and (min-width: 768px)
        right 10px
        top 10px
        padding: 25px
        max-width 440px
    @media only screen and (min-width: 992px)
        right 25px
