.number
    touch-action none
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    -webkit-user-drag none
    .rw-btn-select
        cursor pointer
        height 100%
        touch-action none
        &:hover .rw-i
            color #000
    .rw-i
        color #b8bec7
        font-size 8px
        display block
        &:before
            content "\e920"
            font-family 'ad_work_icons' !important
            font-style normal
            font-weight normal
            font-variant normal
            text-transform none
            line-height 1
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
    .rw-widget-container
        height 40px
    .rw-select
        display flex
        flex-direction column
        justify-content space-around
        height 100%
        right 0
        position absolute
    .rw-widget-container
        display flex
        flex 1 0 auto
        position relative
    .rw-state-focus.rw-number-picker
        border 1px solid #528be6
    .rw-number-picker
        border 1px solid #cdd1d7
    &--no-valid
        .rw-number-picker
            border 1px solid #ca1145
    .rw-input
        font-family "Clear Sans"
        touch-action none
        border none
        outline none
        max-width 100%
        color #3a3a3c
        font-size 14px
        padding-left 10px
        padding-right 25px
        width 100%
        -webkit-appearance textfield
        -moz-appearance textfield
        appearance textfield
        -moz-appearance: textfield
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
            opacity 0
            margin 0
            -webkit-appearance textfield
            -moz-appearance textfield 
            appearance textfield
        @media screen and (device-aspect-ratio: 2/3)
            font-size: 16px 
        /* iPhone 5, 5C, 5S, iPod Touch 5g */
        @media screen and (device-aspect-ratio: 40/71) 
           font-size: 16px 
        /* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
        @media screen and (device-aspect-ratio: 375/667) 
            font-size: 16px
        /* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
        @media screen and (device-aspect-ratio: 9/16) 
            font-size: 16px
    .rw-btn
        user-select none
        background-color transparent
        border none
        padding 0 5px
    .rw-i-caret-up
        transform scale(-1)
    &--no-valid
        .rw-number-picker.rw-widget        
            border 1px solid #ca1145
