.overlay
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background rgba(0, 0, 0, .5)
    z-index 1000
    & ~ .card
        .responsive-table--z-1001
            border-radius 4px
            &:after 
                border-radius 4px 0 0 4px
                overflow hidden
        .responsive-table__overlay-block--minus-470
            display block