.pagination
	display flex
	align-items center
	&__item
		display flex
		align-items: center
		justify-content: center
		height 30px
		width 30px
		background #fff
		border 1px solid $bg--border
		box-sizing border-box
		cursor pointer
		&:hover
			border-color $bg--btn-primary
		&_dots
			&:hover
				border-color $bg--border
				cursor initial
		&_disabled
			opacity 0.5
			&:hover
				border-color $bg--border
				cursor initial
		&_selected
			background $bg--btn-primary
			border-color $bg--btn-primary
			color #fff
