 .pop-up
    background-color #fff
    border-radius 5px
    width 90%
    max-width 445px
    max-height 100%
    overflow-y auto
    box-shadow 0 3px 7px rgba(0, 0, 0, 0.1)
    &--visible
        overflow-y visible
    &--max-530
        max-width 530px
    &--max-220
        max-width 220px
    &--max-320
        max-width 320px
    &__head
        text-align center
        padding 15px
        border-bottom 1px solid $bg-border-table
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
        &--icon-important
            color #c2143d
        &_disabled
            padding 0
            border-bottom  none
            box-shadow none
    &__title
        text-transform uppercase
        font-size 14px
        color $text-color-first
        &--12
            font-size 12px
            @media only screen and (min-width 768px)
                font-size 14px
        &--important
            color #c2143d
    &__footer
        border-top 1px solid $bg-border-table
        text-align center
        padding 25px 0
        &_disabled
            padding 0
            border-top none
