.progress-circle
    position relative
    display flex
    flex-direction column
    justify-content center
    align-items center
    line-height 1
    font-weight bold
    font-size 14px
    font-family 'Lato', sans-serif
    user-select none
    &__modal
        display block
        padding 10px
        .circle 
            transform rotate(-90deg)
            fill none
            stroke-linecap round
            &__background 
                stroke #e6e6e6
            &__fill 
                stroke #538BE3
    &__percent 
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        margin auto
    &__content 
        display flex
        justify-content center
        align-items center
        height 100%
.language-progress
    .progress-circle__modal
        position relative
        .circle 
            transform rotate(-90deg)
            fill none
            stroke-linecap initial
        .dash-circle
            position absolute
            top 10px
            left 10px
            transform rotate(-94deg)
            &__circle
                stroke-dasharray 6.5 49
    .progress-circle__content
        display flex
        flex-direction column
        align-items center
        justify-content center


