.radio
	&__inner-wrapper
		position relative
		cursor pointer
		display flex
		align-items center
		&:hover
			.radio__checkmark
				border 1px solid #528be6
		&.checked
			.radio__checkmark
				border-color #528be6
				&::after
					display block
		.radio__input
			opacity 0
			appearance none
			width 15px
			height 15px
			padding 0
			margin 0 5px 0 0
			border-radius 50%
			box-sizing border-box
		.radio__checkmark
			position absolute
			top 50%
			transform translateY(-50%)
			left 0
			width 15px
			height 15px
			background #fff
			box-sizing border-box
			border-radius 50%
			border 1px solid #b8bec7
			&::after
				display none
				content ""
				position absolute
				top: 2px;
				left: 2px;
				height: 9px;
				width: 9px;
				border-radius 50%
				background #528be6
