.input-range
  height 1rem
  position relative
  width 100%
  &__slider
    -webkit-appearance none
    -moz-appearance none
    appearance none
    background #fff
    border 1px solid #cdd1d7
    border-radius 100%
    cursor pointer
    display block
    height 1rem
    margin-left -0.5rem
    margin-top -0.65rem
    outline none
    position absolute
    top 50%
    transition transform 0.3s ease-out, box-shadow 0.3s ease-out
    width 1rem
    &-container
      -webkit-transition left 0.3s ease-out
      transition left 0.3s ease-out
    &:active
      -webkit-transform scale(1.3)
      transform scale(1.3)
    &:focus
      box-shadow 0 0 0 5px rgba(63, 81, 181, 0.2)
    &--disabled .input-range__slider
      background #cccccc
      border 1px solid #cccccc
      box-shadow none
      -webkit-transform none
      transform none
  &__track
    background #edf0f5
    border-radius 0.5rem
    cursor pointer
    display block
    height 0.6rem
    border 3px solid #edf0f5
    position relative
    -webkit-transition left 0.3s ease-out, width 0.3s ease-out
    transition left 0.3s ease-out, width 0.3s ease-out
    &--disabled .input-range__track
        background #eeeeee
    &--position
      height 0.3rem
      top -0.5px
      border none
    &--background
      left 0
      margin-top -0.15rem
      position absolute
      right 0
      top 50%
    &--active
      background #528be6
  &__label
    color #aaaaaa
    font-family "Clear Sans", san-serif
    font-size 0.8rem
    -webkit-transform translateZ(0)
    transform translateZ(0)
    white-space nowrap
    &-container
      position:relative
      left -50%
      transition all .2s ease
    &--min, &--max
      bottom -1.4rem
      position absolute
    &--min
      left 0
    &--max
      right 0
    &--value
      position absolute
      top -2rem
      color #3a3a3c
      font-size 14px
    @media all and (max-width 767px)
      &--position-start
        left 0
      &--position-middle
        left -50%
      &--position-end
        left -100%
  &__dots
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    display flex
    &-item
      list-style-type none
      height 100%
      width 2px
      position absolute
      transform translateX(-1px)
      top 0
      left 0
      background-color #cdd1d7