.rating-top
    display flex
    align-items center
    justify-content center
    height auto
    &__width
        &_50-px
            width 50px
    &_first
        background linear-gradient(135deg, #75e96d, #68d385)
    &_second
        background linear-gradient(135deg, #48f4c2, #29e1c8)
    &_third
        background linear-gradient(135deg, #8df1ee, #59e3de)
    &_fourth
        background linear-gradient(135deg, #71dbf6, #42c9eb)
    &_fifth
        background linear-gradient(135deg, #9ebde9, #9ba0e5)