.tablist
    .react-tabs
        &__tab
            font-size 14px
            text-transform uppercase
            padding 15px 30px
            border-bottom 3px solid transparent
            &--selected
                position relative
                border none
                border-radius 0
                color $bg--btn-primary
                border-bottom 3px solid $bg--btn-primary