.reset
	width 17px
	height 17px
	border-radius 50%
	background-color #cdd1d7
	display inline-block
	position absolute
	cursor pointer
	top 50%
	transform translateY(-50%)
	right 6px
	&:before, &:after
		content ''
		display block
		position absolute
		width 10px
		height 1px
		background-color #3a3a3c
	&:before
		transform rotate(45deg)
		top 7.5px
		left 3.5px
	&:after
		transform rotate(-45deg)
		top 7.5px
		left 3.5px

