 .respons-flex-table
        border-collapse collapse
        display block
        width 100%
        font-size 14px
        color $text-color-first
        &__thead
            display none
        &__tbody, &__tfoot
            display block
        &__th
            font-size 12px
            font-weight normal
            color $text-color-second
            &::first-letter
                text-transform uppercase
        &__tr
            display flex
            flex-wrap wrap
            border-bottom 1px solid $bg-border-table
            width 100%
            position relative
            padding 25px 15px 5px 12px
            border-left 3px solid transparent
            &--main
                border-left-color $text-color-fourth
                position relative
                z-index 2
                box-shadow 0 0 7px rgba(0, 0, 0, 0.1)
            &--secondary
                position relative
                z-index 1
            &--padding-b-0
                padding-bottom 0
        &__td
            width 100%
            display flex
            flex-direction column
            background-color #fff
            position relative
            margin-bottom 15px
            font-size 12px
            &:before
                content attr(data-title)
                display block
                color #6e6e7d
                font-size 12px
                margin-bottom 10px
            &--no-before
                &:before
                    display none
            &--no-margin
                margin 0
        &--j-center
            justify-content center
        &--d-row
            flex-direction row
        &__card
            &--close
                transform rotate(180deg)
        &__sort
        cursor pointer
        display flex
        align-items center
        white-space normal
            &:after
                content '\e91e'
                display inline-block
                font-size 5px
                color $arrow--table
                vertical-align middle
                margin-left 2px
                font-family 'ad_work_icons' !important
                speak none
                font-style normal
                font-weight normal
                font-variant normal
                text-transform none
                line-height 1
                transition all .25s ease-out
            &_up
                &:after
                    transform rotate(180deg)
            &-des
                cursor pointer
                display flex
                align-items center
                white-space normal !important     
        &__eye
            flex-direction row
            padding-left 15px
            padding 10px 0
            justify-content center
            background-color #f9f9f9
            &:before
                display none
            &:after
                content attr(data-title)
                display inline-block
                color $bg--btn-primary
                font-size 12px
        &--font-10
            font-size 10px
        &--font-14
            font-size 14px
        &__color-blue
            color $text-color-fourth
        &--failed
            &:after
                content 'Failed'
                padding 3px 10px
                background-color #c2143d
                border-radius 5px
                font-size 10px
                text-transform uppercase
                color #fff
                margin-left 5px
                vertical-align middle
        &--passed
            &:after
                content 'Passed'
                padding 3px 10px
                background-color #528be6
                border-radius 5px
                font-size 10px
                text-transform uppercase
                color #fff
                margin-left 5px
                vertical-align middle

        for $side in (1..50)
            &--w
                &-{$side}
                    width ($side)%
                    flex 0 0 ($side)%
                    max-width ($side)%
        for $side in (10..20)
            &--w
                &-{$side * 5}
                    width ($side) * 5%
                    flex 0 0 ($side) * 5%
                    max-width ($side) * 5%
        &--w-100-30
            width calc(100% + 30px)
            flex 0 0 calc(100% + 30px)
            max-width calc(100% + 30px)
            margin-left -15px
            margin-right -15px
        @media only screen and (min-width: 768px)
            for $sidemd in (1..50)
                &--md-w
                     &-{$sidemd}
                        width ($sidemd)%
                        flex 0 0 ($sidemd)%
                        max-width ($sidemd)%
            for $sidemd in (10..20)
                &--md-w
                     &-{$sidemd * 5}
                        width ($sidemd) * 5%
                        flex 0 0 ($sidemd) * 5%
                        max-width ($sidemd) * 5%
            &--md-w-100-60
                width calc(100% + 60px)
                flex 0 0 calc(100% + 60px)
                max-width calc(100% + 60px)
                margin-left -30px
                margin-right -30px
        @media only screen and (min-width 992px)
            for $sidelg in (1..50)
                &--lg-w
                     &-{$sidelg}
                        width ($sidelg)%
                        flex 0 0 ($sidelg)%
                        max-width ($sidelg)%
            for $sidelg in (10..20)
                &--lg-w
                     &-{$sidelg * 5}
                        width ($sidelg) * 5%
                        flex 0 0 ($sidelg) * 5%
                        max-width ($sidelg) * 5%
        @media only screen and (min-width: 1170px)
            for $sidexl in (1..50)
                &--xl-w
                     &-{$sidexl}
                        width ($sidexl)%
                        flex 0 0 ($sidexl)%
                        max-width ($sidexl)%
            for $sidexl in (10..20)
                &--xl-w
                     &-{$sidexl * 5}
                        width ($sidexl) * 5%
                        flex 0 0 ($sidexl) * 5%
                        max-width ($sidexl) * 5%

        for $hei in (1..10)
            &--h
                &-{$hei * 5}
                    width ($hei) * 5px
@media only screen and (min-width: 768px)
    .respons-flex-table
        &__tr
            padding: 30px 30px 10px 27px
        &--md
            &-j
                &-center
                    justify-content center
            &-d
                &-row
                    flex-direction row
                &-column
                    flex-direction column
            &-align
                &-center
                    align-items center
@media only screen and (min-width 992px)
    .respons-flex-table
        &__thead
            &--lg-b
                display block
         &__td-lg--no-title
            margin-bottom 0
            &:before
                display none
        &__tr
            align-items center
            padding 20px 30px 20px 27px
            &--padding-b-20
                padding-bottom 20px

@media only screen and (min-width: 1170px)
    .respons-flex-table
        font-size 14px
        color $text-color-first
        &__thead
            display block
        &__th
            font-size 12px
            font-weight normal
            color $text-color-second
        &__td
            margin-bottom 0
            &:before
                display none
        &--xl
            &-j
                &-center
                    justify-content center
            &-d
                &-column
                    flex-direction column
            &-align
                &-center
                    align-items center
            &-margin-0
                margin 0
        &__color-blue
            color $text-color-fourth
        &__eye
            padding 0
            background-color transparent
            &:after
                display none
