.responsive-table
    border-collapse collapse
    width 100%
    font-size 14px
    color $text-color-first
    &__th
        font-size 12px
        font-weight normal
        &_14
            font-size 14px
    &__tr
        border-bottom 1px solid $bg--border
        &:last-child
            border-bottom none
    &__td 
        padding 10px 0
        background-color #fff
    &__overlay-block
        display none
        position absolute
        z-index 1001
        color #fff
        &--minus-470
            top 70px
            left 0
            right 0
            @media all and (min-width 768px)
                top 15px
                right -470px
                left unset
    tfoot
        border-top 1px solid $bg--border
    &--main-row
        box-shadow 0px 0px 7px 0px rgba(0, 0, 0, 0.1)
        .responsive-table__td
            &:first-child
                position relative
                &:after
                    content ''
                    position absolute
                    left 0
                    top 0
                    bottom 0
                    width 3px
                    background-color $bg--btn-primary
    &--available
        color $bg--btn-primary

    &--passed
        // &:after
        //     // content 'Passed'
        //     // padding 3px 7px
        //     // background-color #528be6
        //     // border-radius 5px
        //     // font-size 10px
        //     // text-transform uppercase
        //     // color #fff
        //     // margin-left 5px
        //     // vertical-align middle
    &--failed
        &:after
            content 'Failed'
            padding 3px 7px
            background-color #c2143d
            border-radius 5px
            font-size 10px
            text-transform uppercase
            color #fff
            margin-left 5px
            vertical-align middle
    &--z-1001
        z-index 1001

    @media all and (min-width 768px)
        &--tests
            padding 15px 7.5px
            &:first-child
                padding-left 30px
            &:last-child
                padding-right 30px


@media only screen and (max-width: 767px) 
    
    .responsive-table
        display block
        &__thead, &__tbody, &__th, &__td, &__tr
            display block

        &__thead
            .responsive-table__tr
                position absolute
                top -9999px
                left -9999px
        
        &__tr
            border 1px solid #ccc

        &__td
            border none
            border-bottom 1px solid #eee
            position relative
            padding-left 50%
            white-space normal
            text-align left
            
            &:before
                content attr(data-title)
                position absolute
                top 6px
                left 6px
                width 45%
                padding-right 10px
                white-space nowrap
                text-align left
                font-weight bold
        
        &--main-row
            .responsive-table__td 
                &:after
                    content ''
                    position absolute
                    left 0
                    top 0
                    bottom 0
                    width 3px
                    background-color $bg--btn-primary
                    z-index 1