.result-mark
    &--passed
        &:after
            content 'Passed'
            padding 3px 7px
            background-color #528be6
            border-radius 5px
            font-size 10px
            text-transform uppercase
            color #fff
            margin-left 5px
            vertical-align middle
    &--failed
        &:after
            content 'Failed'
            padding 3px 7px
            background-color #c2143d
            border-radius 5px
            font-size 10px
            text-transform uppercase
            color #fff
            margin-left 5px
            vertical-align middle