.artificial-drop-down
	display block
	position relative
	height 40px
	border 1px solid $bg--border
	padding 10px
	z-index 999
	width 100%
	cursor pointer
	line-height 1
	&:before
		content "\E920"
		font-family ad_work_icons!important
		font-size 8px
		line-height 1
		color #b0afaf
		width 16px
		height 8px
		display block
		position absolute
		right 2px
		top 50%
		-webkit-transform translateY(-50%)
		transform translateY(-50%)
		-webkit-transition -webkit-transform .25s ease-out
		transition -webkit-transform .25s ease-out
		transition transform .25s ease-out
		transition transform .25s ease-out,-webkit-transform .25s ease-out
	&.artificial-drop-down__list--active
		z-index 9999
		&:before
			transform rotateX(180deg) translateY(5px)
	&__value
		color $text-color-first

	&__list
		display none
		overflow hidden
		position absolute
		padding 1px
		top calc(100% + 1px)
		left 0
		right 0
		background #fff
		outline 1px solid #b0b5be
		box-shadow 3px 5px 16.38px 4.62px rgba(0,0,0,0.17)
		&.artificial-drop-down__list--active
			display block
			max-height 300px
			overflow auto

	&__item
		color #fff
		display block
		position relative

	&__cover
		display block
		position relative

	&__text
		padding 10px
		display block
		width 100%
		position relative
		z-index 1
		color $text-color-first
		&:hover
			&:before
				content ""
		&:before
			background #fff
			height 100%
			left -50%
			top 0
			position absolute
			z-index -1

	&__select
		overflow hidden
		visibility hidden
		position absolute
		height 0
		appearance none

	&__text--active
		&:before
			content ""

	&__text--children
		padding-left 30px

.no-border
	.artificial-drop-down
		padding-top 0
		padding-bottom 0
		padding-left 10px
		height auto
		border none
		&:before
			content ''
		&__item
			white-space nowrap
.font--color-blue
	.artificial-drop-down__value
		color $bg--btn-primary