.side-menu //styles for menu-container
	position absolute
	z-index 1000
	display block
	width 100%
	top 0
	left 0
	padding-top 4px
	background #eee
	overflow hidden
	box-shadow 0 3px 7px rgba(0, 0, 0, 0.1)
	&_disabled
		display none
		@media all and (min-width: 992px)
			display block
	@media all and (min-width: 768px)
		width 300px
		top 8px
		right 0
		left: auto;
		padding-top 0
	@media all and (min-width: 992px)
		position static
		max-height 100%
		width inherit
		box-shadow none
		overflow visible
	&__top
		position relative 
		border-radius 5px 5px 0 0
		border 1px solid #edf0f5
		@media screen and (min-width: 992px)
			display block
			min-height 142px
		&:after
			content ''
			position absolute
			left 0
			right 0
			bottom 0
			height 6px
			box-shadow 0px 1px 0px 0px rgba(0, 0, 0, 0.1)

	&__bottom
		border-top 6px solid #f6f7f8
	&--padding-0
		padding 0