.skillsScrollBlock
    display block
    overflow hidden
    height 100%
    width 100%
    margin-bottom 5px
    scroll-behavior smooth
    &__inner
        height 100%
    &__item
        width 17%
        padding 10px 10px 0