.tel-input
    font-family 'Roboto', sans-serif
    font-size 15px
    position relative
    width 100%
    display flex
    &:disabled
        cursor not-allowed
    &__form-control
        &:focus
            + .tel-input__flag-dropdown
                border-color #528be6
    &__flag
        width 16px
        height 11px
        background url("../img/flags.png")
        &--main
            position absolute
            top 50%
            margin-top -5px
        &--list
            display inline-block
            margin-right 6px
            margin-top 2px
    
    &--phone-ad 
        background-position -16px 0
    &--phone-ae 
        background-position -32px 0
    &--phone-af 
        background-position -48px 0
    &--phone-ag  
        background-position -64px 0
    &--phone-ai 
        background-position -80px 0
    &--phone-al 
        background-position -96px 0
    &--phone-am 
        background-position -112px 0
    &--phone-ao 
        background-position -128px 0
    &--phone-ar 
        background-position -144px 0
    &--phone-as 
        background-position -160px 0
    &--phone-at 
        background-position -176px 0
    &--phone-au 
        background-position -192px 0
    &--phone-aw 
        background-position -208px 0
    &--phone-az 
        background-position -224px 0
    &--phone-ba 
        background-position -240px 0
    &--phone-bb 
        background-position 0 -11px
    &--phone-bd 
        background-position -16px -11px
    &--phone-be 
        background-position -32px -11px
    &--phone-bf 
        background-position -48px -11px
    &--phone-bg 
        background-position -64px -11px
    &--phone-bh 
        background-position -80px -11px
    &--phone-bi 
        background-position -96px -11px
    &--phone-bj 
        background-position -112px -11px
    &--phone-bm 
        background-position -128px -11px
    &--phone-bn 
        background-position -144px -11px
    &--phone-bo 
        background-position -160px -11px
    &--phone-br 
        background-position -176px -11px
    &--phone-bs 
        background-position -192px -11px
    &--phone-bt 
        background-position -208px -11px
    &--phone-bw 
        background-position -224px -11px
    &--phone-by 
        background-position -240px -11px
    &--phone-bz 
        background-position 0 -22px
    &--phone-ca 
        background-position -16px -22px
    &--phone-cd 
        background-position -32px -22px
    &--phone-cf 
        background-position -48px -22px
    &--phone-cg 
        background-position -64px -22px
    &--phone-ch 
        background-position -80px -22px
    &--phone-ci 
        background-position -96px -22px
    &--phone-ck 
        background-position -112px -22px
    &--phone-cl 
        background-position -128px -22px
    &--phone-cm 
        background-position -144px -22px
    &--phone-cn 
        background-position -160px -22px
    &--phone-co 
        background-position -176px -22px
    &--phone-cr 
        background-position -192px -22px
    &--phone-cu 
        background-position -208px -22px
    &--phone-cv 
        background-position -224px -22px
    &--phone-cw 
        background-position -240px -22px
    &--phone-cy 
        background-position 0 -33px
    &--phone-cz 
        background-position -16px -33px
    &--phone-de 
        background-position -32px -33px
    &--phone-dj 
        background-position -48px -33px
    &--phone-dk 
        background-position -64px -33px
    &--phone-dm 
        background-position -80px -33px
    &--phone-do 
        background-position -96px -33px
    &--phone-dz 
        background-position -112px -33px
    &--phone-ec 
        background-position -128px -33px
    &--phone-ee 
        background-position -144px -33px
    &--phone-eg 
        background-position -160px -33px
    &--phone-er 
        background-position -176px -33px
    &--phone-es 
        background-position -192px -33px
    &--phone-et 
        background-position -208px -33px
    &--phone-fi 
        background-position -224px -33px
    &--phone-fj 
        background-position -240px -33px
    &--phone-fk 
        background-position 0 -44px
    &--phone-fm 
        background-position -16px -44px
    &--phone-fo 
        background-position -32px -44px
    &--phone-fr,&--phone-bl,&--phone-mf 
        background-position -48px -44px
    &--phone-ga 
        background-position -64px -44px
    &--phone-gb 
        background-position -80px -44px
    &--phone-gd 
        background-position -96px -44px
    &--phone-ge 
        background-position -112px -44px
    &--phone-gf 
        background-position -128px -44px
    &--phone-gh 
        background-position -144px -44px
    &--phone-gi 
        background-position -160px -44px
    &--phone-gl 
        background-position -176px -44px
    &--phone-gm 
        background-position -192px -44px
    &--phone-gn 
        background-position -208px -44px
    &--phone-gp 
        background-position -224px -44px
    &--phone-gq 
        background-position -240px -44px
    &--phone-gr 
        background-position 0 -55px
    &--phone-gt 
        background-position -16px -55px
    &--phone-gu 
        background-position -32px -55px
    &--phone-gw 
        background-position -48px -55px
    &--phone-gy 
        background-position -64px -55px
    &--phone-hk 
        background-position -80px -55px
    &--phone-hn 
        background-position -96px -55px
    &--phone-hr 
        background-position -112px -55px
    &--phone-ht 
        background-position -128px -55px
    &--phone-hu 
        background-position -144px -55px
    &--phone-id 
        background-position -160px -55px
    &--phone-ie 
        background-position -176px -55px
    &--phone-il 
        background-position -192px -55px
    &--phone-in 
        background-position -208px -55px
    &--phone-io 
        background-position -224px -55px
    &--phone-iq 
        background-position -240px -55px
    &--phone-ir 
        background-position 0 -66px
    &--phone-is 
        background-position -16px -66px
    &--phone-it 
        background-position -32px -66px
    &--phone-jm 
        background-position -48px -66px
    &--phone-jo 
        background-position -64px -66px
    &--phone-jp 
        background-position -80px -66px
    &--phone-ke 
        background-position -96px -66px
    &--phone-kg 
        background-position -112px -66px
    &--phone-kh 
        background-position -128px -66px
    &--phone-ki 
        background-position -144px -66px
    &--phone-km 
        background-position -160px -66px
    &--phone-kn 
        background-position -176px -66px
    &--phone-kp 
        background-position -192px -66px
    &--phone-kr 
        background-position -208px -66px
    &--phone-kw 
        background-position -224px -66px
    &--phone-ky 
        background-position -240px -66px
    &--phone-kz 
        background-position 0 -77px
    &--phone-la 
        background-position -16px -77px
    &--phone-lb 
        background-position -32px -77px
    &--phone-lc 
        background-position -48px -77px
    &--phone-li 
        background-position -64px -77px
    &--phone-lk 
        background-position -80px -77px
    &--phone-lr 
        background-position -96px -77px
    &--phone-ls 
        background-position -112px -77px
    &--phone-lt 
        background-position -128px -77px
    &--phone-lu 
        background-position -144px -77px
    &--phone-lv 
        background-position -160px -77px
    &--phone-ly 
        background-position -176px -77px
    &--phone-ma 
        background-position -192px -77px
    &--phone-mc 
        background-position -208px -77px
    &--phone-md 
        background-position -224px -77px
    &--phone-me 
        background-position -112px -154px
        height 12px
    &--phone-mg 
        background-position 0 -88px
    &--phone-mh 
        background-position -16px -88px
    &--phone-mk 
        background-position -32px -88px
    &--phone-ml 
        background-position -48px -88px
    &--phone-mm 
        background-position -64px -88px
    &--phone-mn 
        background-position -80px -88px
    &--phone-mo 
        background-position -96px -88px
    &--phone-mp 
        background-position -112px -88px
    &--phone-mq 
        background-position -128px -88px
    &--phone-mr 
        background-position -144px -88px
    &--phone-ms 
        background-position -160px -88px
    &--phone-mt 
        background-position -176px -88px
    &--phone-mu 
        background-position -192px -88px
    &--phone-mv 
        background-position -208px -88px
    &--phone-mw 
        background-position -224px -88px
    &--phone-mx 
        background-position -240px -88px
    &--phone-my 
        background-position 0 -99px
    &--phone-mz 
        background-position -16px -99px
    &--phone-na 
        background-position -32px -99px
    &--phone-nc 
        background-position -48px -99px
    &--phone-ne 
        background-position -64px -99px
    &--phone-nf 
        background-position -80px -99px
    &--phone-ng 
        background-position -96px -99px
    &--phone-ni 
        background-position -112px -99px
    &--phone-nl,  &--phone-bq 
        background-position -128px -99px
    &--phone-no 
        background-position -144px -99px
    &--phone-np 
        background-position -160px -99px
    &--phone-nr 
        background-position -176px -99px
    &--phone-nu 
        background-position -192px -99px
    &--phone-nz 
        background-position -208px -99px
    &--phone-om 
        background-position -224px -99px
    &--phone-pa 
        background-position -240px -99px
    &--phone-pe 
        background-position 0 -110px
    &--phone-pf 
        background-position -16px -110px
    &--phone-pg 
        background-position -32px -110px
    &--phone-ph 
        background-position -48px -110px
    &--phone-pk 
        background-position -64px -110px
    &--phone-pl 
        background-position -80px -110px
    &--phone-pm 
        background-position -96px -110px
    &--phone-pr 
        background-position -112px -110px
    &--phone-ps 
        background-position -128px -110px
    &--phone-pt 
        background-position -144px -110px
    &--phone-pw 
        background-position -160px -110px
    &--phone-py 
        background-position -176px -110px
    &--phone-qa 
        background-position -192px -110px
    &--phone-re 
        background-position -208px -110px
    &--phone-ro 
        background-position -224px -110px
    &--phone-rs 
        background-position -240px -110px
    &--phone-ru 
        background-position 0 -121px
    &--phone-rw 
        background-position -16px -121px
    &--phone-sa 
        background-position -32px -121px
    &--phone-sb 
        background-position -48px -121px
    &--phone-sc 
        background-position -64px -121px
    &--phone-sd 
        background-position -80px -121px
    &--phone-se 
        background-position -96px -121px
    &--phone-sg 
        background-position -112px -121px
    &--phone-sh 
        background-position -128px -121px
    &--phone-si 
        background-position -144px -121px
    &--phone-sk 
        background-position -160px -121px
    &--phone-sl 
        background-position -176px -121px
    &--phone-sm 
        background-position -192px -121px
    &--phone-sn 
        background-position -208px -121px
    &--phone-so 
        background-position -224px -121px
    &--phone-sr 
        background-position -240px -121px
    &--phone-ss 
        background-position 0 -132px
    &--phone-st 
        background-position -16px -132px
    &--phone-sv 
        background-position -32px -132px
    &--phone-sx 
        background-position -48px -132px
    &--phone-sy 
        background-position -64px -132px
    &--phone-sz 
        background-position -80px -132px
    &--phone-tc 
        background-position -96px -132px
    &--phone-td 
        background-position -112px -132px
    &--phone-tg 
        background-position -128px -132px
    &--phone-th 
        background-position -144px -132px
    &--phone-tj 
        background-position -160px -132px
    &--phone-tk 
        background-position -176px -132px
    &--phone-tl 
        background-position -192px -132px
    &--phone-tm 
        background-position -208px -132px
    &--phone-tn 
        background-position -224px -132px
    &--phone-to 
        background-position -240px -132px
    &--phone-tr 
        background-position 0 -143px
    &--phone-tt 
        background-position -16px -143px
    &--phone-tv 
        background-position -32px -143px
    &--phone-tw 
        background-position -48px -143px
    &--phone-tz 
        background-position -64px -143px
    &--phone-ua 
        background-position -80px -143px
    &--phone-ug 
        background-position -96px -143px
    &--phone-us 
        background-position -112px -143px
    &--phone-uy 
        background-position -128px -143px
    &--phone-uz 
        background-position -144px -143px
    &--phone-va 
        background-position -160px -143px
    &--phone-vc 
        background-position -176px -143px
    &--phone-ve 
        background-position -192px -143px
    &--phone-vg 
        background-position -208px -143px
    &--phone-vi 
        background-position -224px -143px
    &--phone-vn 
        background-position -240px -143px
    &--phone-vu 
        background-position 0 -154px
    &--phone-wf 
        background-position -16px -154px
    &--phone-ws 
        background-position -32px -154px
    &--phone-ye 
        background-position -48px -154px
    &--phone-za 
        background-position -64px -154px
    &--phone-zm 
        background-position -80px -154px
    &--phone-zw 
        background-position -96px -154px

    .&--hide 
        display none
    .&--v-hide 
        visibility hidden 
    &--invalid-number 
        border 1px solid #d79f9f
        background-color #FAF0F0
        border-left-color #cacaca
        &:focus 
            border 1px solid #d79f9f
            border-left-color #cacaca
            background-color #FAF0F0
    &__flag-dropdown 
        background-color #fff
        border 1px solid #cacaca
        border-right none
        &:hover 
            cursor pointer  
        &--open 
            background #fff
    &__selected-flag 
        background #fff  
        z-index 13
        position relative
        width 38px
        height 100%
        padding 0 0 0 8px
        border-radius 3px 0 0 3px
    &__arrow 
        position relative
        top 50%
        margin-top -2px
        left 20px
        width 0
        height 0
        border-left 3px solid transparent
        border-right 3px solid transparent
        border-top 4px solid #555
        &--up 
            border-top none
            border-bottom 4px solid #555
    &__divider 
        padding-bottom 5px
        margin-bottom 5px
        border-bottom 1px solid #ccc
    &__search-emoji 
        font-size 15px
        vertical-align -2px

    &__no-entries-message 
        padding 7px 10px 11px
        opacity .7
    &__search-box 
        border 1px solid #cacaca
        border-radius 3px
        font-size 15px
        line-height 15px
        margin-left 6px
        padding 3px 8px 5px
    &__country-list 
        list-style none
        position absolute
        z-index 15
        padding 0
        margin 10px 0 10px -1px
        box-shadow 1px 2px 10px rgba(0, 0, 0, 0.35)
        background-color white
        width 100%
        max-height 200px
        overflow-y scroll
        border-radius 0 0 3px 3px
        &-item 
            padding 10px 10px
            &:hover 
            background-color #f1f1f1

            &--highlight 
                background-color #e8e8e8
    &__dial-code 
        color #6b6b6b
    &--no-valid
        border 1px solid #ca1145
        .input
            border-bottom none
            border-top none
            border-right none
        .tel-input__flag-dropdown
            border none

