.title
    &__card
        font-size 14px
        font-weight 400
        text-transform uppercase
        margin-top 0
        margin-bottom 0
        .icon
            margin-right 15px
            font-size 18px
    &--removable
        display inline-block
        color $text-color-first
        background-color #edf0f5
    &--smaller
        font-size 14px
        padding 10px 15px
    &--bigger
        padding 7px 10px
        font-size 14px
        line-height 1
        text-transform uppercase