.tooltip
    position relative
    @media all and (min-width 768px)
        &.tooltip--md-p-xc-15
            padding-left 15px
            padding-right 15px
        &.tooltip--md-p-r-15
            padding-right: 0
            padding-left: 15px
.tooltip-main
    position fixed
    left 0 
    top 0
    &__wrap
        background-color #727273
        border-radius 5px
        box-shadow 0 3px 7px rgba(0, 0, 0, 0.1)
        color #fff
        width 245px
        white-space pre-wrap
    &__caption
        font-size 12px
        font-weight 700
        padding 15px
        line-height 1
        border-bottom 1px solid #97989A
    &__description
        padding 15px
        font-size 12px
        font-weight 300
    &__flag
        width: 0
        height: 0
        border-left: 7.5px solid transparent
        border-right: 7.5px solid transparent
        border-top: 10px solid #727273
        position absolute
        bottom -10px
        left calc(50% - 7.5px);

.tooltip-avatar
    &:after
        content attr(data-tooltip);
        position absolute
        