.progress-wrpapper-steps
    position relative
    overflow hidden
    &:before,&:after
        content ''
        height calc(100% - 25px)
        width 5px
        opacity 0.5
        background #ffffff
        position absolute
        top 0
        z-index 1001
    &:before
        left 0
    &:after        
        right 0
    @media all and (min-width: 768px)
         &:before,&:after
             content none
             display none
.progress-steps
    list-style none
    padding 0
    display table
    table-layout fixed
    width 100%
    color $text-color-third
    &__link
        color $text-color-third
        text-decoration none
    &--sm
        width 200%
        @media all and (min-width: 768px)
            width 100%


.progress-steps__item
    position relative
    display table-cell
    text-align center
    font-size 12px
    .progress-steps__line
            color $bg--btn-primary
            content ''
            position absolute
            display block
            background #fff
            width 100%
            height 3px
            top 8px
            margin-left 1.5em\9
            z-index 1
    &:before
        content attr(data-step)
        display block
        background #fff
        width 22px
        height 22px
        text-align center
        margin 9px auto 0
        line-height 22px
        border-radius 100%
        position relative
        top -10px
        z-index 1000
    &:after
        content ''
        position absolute
        display block
        width 100%
        height 3px
        top 8px
        margin-left 1.5em\9
        z-index -1
    &--is-complete:before
        color #FFF
        background $bg--btn-primary
    &--is-complete
        &:after
            background $bg--btn-primary
            z-index 1
    &--is-active
        color $bg--btn-primary
        z-index 1
        &:after
            background $bg--btn-primary
            width 50%
            z-index 1
        &.progress-steps__item--last
            &:after
                width 100%
    &--is-active:before
        color #FFF
        background $bg--btn-primary
          
