.validation
    &__error-msg
        // padding 3px
        text-align right
        font-size 12px
        color #ca1145
        &--left
            text-align left 
    &__error-border
        border-color #ca1145
        