$text-color-first = #3a3a3c
$text-color-second = #6e6e7d
$text-color-third = #b8bec7
$text-color-fourth = #528be6
$text-color-fifth = #a7a7af
$bg--footer = #fbfbfb
$bg--border = #cdd1d7
$bg-border-table = #edf0f5;
$arrow-table = #9f9e9e;
$bg--btn-primary = #528be6
$bg--body = #f4f4f4
$arrow--table = #b0afaf;
$bg-border-table = #eaebee;
$nav-link-size = .75em
$color-light-gray = #eaecef

*{
  box-sizing border-box;
  -webkit-tap-highlight-color rgba(0, 0, 0, 0);
}

a{
	color: initial;
	text-decoration: none;
}

html, body{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Clear Sans';
}

body{
	background-color $bg--body
	color $text-color-first
}

ul, li, p, h1, h2, h3, h4, h5, h6
	padding 0
	margin 0

.h-100
	height 100%
.min-h-100
  min-height 100%

.img-fluid
	max-width 100%
	height auto


.d-block
	display block
.d-inline_block
	display inline-block

@media all and (min-width 768px)
	.d-md-none
		display none

.pointer
	cursor pointer
	transition all .25s ease-out
	&:hover
		opacity .8
.pointer-text
	cursor pointer
.no-gutters
	margin-right 0
	margin-left 0

	> .col,
	> [class*="col-"]
		padding-right 0
		padding-left 0
/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}

.l-space--minus-8 {
    letter-spacing: -8px
}

@media (min-width: 1200px) {
    .nowrap--xl {
        white-space:nowrap
    }
}
.no-gutter{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.nowrap--all {
    white-space: nowrap;
}
.nowrap--pre-wrap {
    white-space: pre-wrap;
}

.height--max-120 {
    max-height: 120px;
}

.scroll--auto {
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}
.scroll--y-auto{
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
}
.scroll--x-auto{
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
}
.overflow--h {
    overflow: hidden
}

.box--content {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
.theme--social{
  line-height: 1;
  padding: 8px 10px;
  display: inline-block;
  margin-right: 10px;
  color: $text-color-first;
  font-size: 14px;
  background-color: #edf0f5;
}
.list--style-type-none{
  list-style-type none}
  
.teble--middle{
  display table-cell
  vertical-align middle
}
.sticky{
  position: sticky;
}
.b--0{
  bottom: 0px;
}
.point{
  cursor pointer  
}
.word-break--all{
  word-break: break-all;
}
.word-break--word{
  word-break: break-word;
}
.cloud1{
  height: 30px;
  display: block;
  margin-bottom: 20px;
}
.cloud2{
    display: none;
}
.cloud3{
  height: 50px;
  display: block;
  margin-top: 20px;
}
.dog{
  height: 150px;
  display: block;
  position: relative;
  left: -375px;
}
@media all and (min-width: 768px){
  .cloud1{
    height: 25px;
    margin: 0 auto;
    transform: translateX(20%);
    margin-bottom: 30px;
  }  
  .cloud2{
    height: 45px;
    display: block;
    position: absolute;
    top: -10px;
    right: 0px;
  }
  .cloud3{
    height: 55px;
    position: absolute;
    right: 105px;
    margin-top: 0;
  }
  .dog{
    height: 200px;
    left: -155px;
  }
}
@media all and (min-width: 992px){
  .cloud1{
    height: 40px;
  }
  .cloud2{
    height: 65px;
    right: 0;
  }
  .cloud3{
    height: 75px;
  }
  .dog{
    height: 280px;
  }
}
@media all and (min-width: 1200px){
  .cloud1{
    height: 40px;
  }
  .cloud2{
    height: 65px;
    right: 90px;
  }
  .cloud3{
    height: 75px;
    right: 185px;
    bottom: -20px;
  }
  .dog{
    height: 280px;
    left: -180px;
  }

}
/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important ;}
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important ;}
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}